[2019-04-11 20:00] oleersoy opened #1 "Conversion of *.d.ts files?"
Hi - Nice work!
I'm considering putting it to use in:
https://www.npmjs.com/package/@fireflysemantics/slice

Right now I'm creating a dist folder with *.d.ts files and *.js files.  I see that typescript-transform-paths converts the *.js files, but the paths still appear in the *.d.ts files.  Is there a setting that will convert the *.d.ts files as well?

Also right now in the root of the Slice pro

[2019-04-11 21:15] roblav96 opened #2 "index.js main file does not emit `./` for modules"
Any files emitted at the root of `./dist/*.js` do not include the `./` path at the beginning of modules.

## `tsconfig.json`
[code]

## Example:
Currently `./dist/index.js` looks like:
[code]
When it should be:
[code]

[2019-04-11 21:29] roblav96 commented on #2
Modifying [index.ts:30](https://github.com/LeDDGroup/typescript-transform-paths/blob/b6d54f70fe6433f1b5d527021b1e142609daad4a/src/index.ts#L30) to add `'./' + ` before relative like so:
[code]
fixes the problem, but I doubt this is the proper solution.

[2019-04-12 05:14] danielpa9708 commented on #2
Thanks for reporting the issue, I'll look into it

[2019-04-12 05:44] danielpa9708 commented on #2
@roblav96 I think it was pretty close with what I came up with, I will merge it tomorrow if you have any thoughts on it.

[2019-04-12 05:57] danielpa9708 commented on #1
Hi @oleersoy, there's an issue https://github.com/LeDDGroup/typescript-transform-paths/issues/2 that probably affect you witch would be fixed in https://github.com/LeDDGroup/typescript-transform-paths/pull/3, I will merge the PR tomorrow if you have any thoughts on it.
Also I checked out your repo https://github.com/fireflysemantics/slice and while you installed *typescript-transform-paths*, you'l

[2019-04-12 13:55] oleersoy commented on #1
Hi @danielpa9708 - Super glad to hear it!  Thanks for the heads up on the ttypescript tool.

[2019-04-12 18:25] #2 closed

[2019-04-15 05:12] danielpa9708 commented on #1
Let me know if you have any other issue

[2019-04-15 05:12] #1 closed

[2019-04-24 08:22] joshuaavalon opened #4 "Declaration files (*.d.ts) is not transformed."
I create an repository for the bug.

https://github.com/joshuaavalon/typescript-transform-paths-bug

After `npm run build`, `lib\foo\index.js` has

[code]

but `lib\foo\index.d.ts` has

[code]

Edit:

[code]

It transforms *.d.ts but it does not tranform .js

[2019-04-24 09:04] joshuaavalon opened #5 "Run on Window produce Window path (backslash) instead of Posix path."
Running this plugin on Window produce paths like `..\\..\\utils` instead of `../../utils`.

This is because node use environment specific path.

https://github.com/LeDDGroup/typescript-transform-paths/blob/de7d3d8696cf099d8a8f2b19ab69df0f32105118/src/index.ts#L2

I recommend using something like [slash](https://www.npmjs.com/package/slash) to convert the path to posix path.

https://github.com/LeD

[2019-04-24 18:16] danielpa9708 commented on #5
Thanks for the bug report, I'll check it out, I think path have a `normalize` function that fix this issue

[2019-04-24 18:52] danielpa9708 commented on #4
It seems that

[code]

works, but I don't know if it is supposed to be like this. We'll have to see if this is an issue with ttypescript or if it the expected behavior.

[2019-04-24 23:09] #5 closed

[2019-05-01 08:44] anion155 opened #7 "Export something from module not working"
I typically have index.ts with content:

[code]

This syntax does not work with your transformer.

[2019-05-01 09:11] danielpa9708 commented on #7
Thanks for the report, I'll put it in the tracker, this module only searches for the import syntax at the moment.

[2019-05-01 09:15] anion155 commented on #7
Working on PR

[2019-05-01 10:22] #7 closed

[2019-05-05 21:00] #4 closed

[2019-05-17 13:06] anion155 opened #9 "Type only import not deleted from result file"
Import of types error (cyclic import is imported, cause it does breaks functionality):

[code]

Produces invalid code with circular dependencies. When without paths and this plugin, resulting b.js does not content `require('./a.js')`, which resolves circular dependency error.

[2019-05-17 19:02] anion155 commented on #9
https://github.com/microsoft/TypeScript/issues/31446

[2019-05-17 19:51] anion155 commented on #9
@danielpza What if `node.moduleSpecifier.text = file;` instead update? This is fixing issue for import clause at least.

[2019-05-18 00:55] danielpza commented on #9
If that fixes the problem is fine by me. I'll check the test to make sure everything is fine and deploy a new release.

[2019-05-18 01:31] #9 closed

[2019-05-18 01:41] anion155 commented on #9
@danielpza It does looks like ts bug, or maybe we have to update some modules cache. I have created thread on ts, will see what ts guru say about this. Meanwhile  I'll be looking to this further.

[2019-05-18 01:43] danielpza opened #11 "All Contributors"

[2019-05-18 01:46] #11 closed

[2019-05-21 10:33] sbmw opened #13 "v1.1.2 no longer transforming paths"
Hi, thanks for this excellent plugin.

Unfortunately something seems to have stopped working (for me at least) in v1.1.2.

I've played around with incremental updates and believe the issue is in 73dd832 / "fix: type only import not deleted from result file"

Specifically this change:

![image](https://user-images.githubusercontent.com/30099628/58089001-09e5d180-7bee-11e9-8917-3466f7ff0507.png)

My

[2019-05-21 17:36] anion155 commented on #13
Since 1.1.1 this module does not interrupt typescript's logic of module importing. So if you do not use FooViewModel, or if FooViewModel is type and you are waiting for import side effects on runtime. Try to compile your code with original compiler and see if 'me/viewModels/fooViewModel' import is included.

[2019-05-21 17:39] anion155 commented on #13
For side effect imports usually used:
[code]

[2019-05-22 08:20] anion155 commented on #13
@sbmw So, was this the case when you wanted "import side effects" or is this a bug?

[2019-05-22 08:46] sbmw commented on #13
@anion155 Thanks for the help, but no I'm not using side effect imports and I believe this is a bug.

I've put together a very basic demo to show this in action: https://github.com/sbmw/transformdemo

One thing I have discovered: I had "module": "esnext" in my tsconfig.  With that set, paths are not transformed in the output .js or .d.ts.  If that is changed to "module": "commonjs" the .js file ha

[2019-05-22 08:50] anion155 commented on #13
About .d.ts read this #4
Will investigate about "module" configuration. Thanks

[2019-05-22 08:53] sbmw commented on #13
Thanks.

Re .d.ts, yes I know that and if you see my tsconfig you'll see I have danielpza's solution in place:

    "plugins": [
      { "transform": "typescript-transform-paths" },
      { "transform": "typescript-transform-paths", "afterDeclarations": true }
    ]

But it is no longer working.

[2019-05-22 08:53] anion155 commented on #13
Ok, will look into this.

[2019-05-23 03:59] danielpza commented on #13
@anion155 , I checked and it do stopped working when we changed from `ts.updateImportDeclaration` to `node.moduleSpecifier.text = file;`

I think we'll have to replicate the way typescript filters declarations as you originally did in #14. Do you still have a previous version of that PR?

[2019-05-23 07:39] anion155 commented on #13
@danielpza git does not delete anything before `gc` ))

[2019-05-24 03:58] #13 closed

[2019-05-24 04:09] danielpza commented on #13
@sbmw the fix is up in v1.1.3, I tested it in your demo https://github.com/sbmw/transformdemo and it worked.

[2019-05-24 21:33] roblav96 commented on #2
@danielpza I ended up using [ilearnio/module-alias](https://github.com/ilearnio/module-alias) so I haven't been able to test this.

[2019-06-08 00:35] oleersoy opened #18 "Generates errors when Papaparse dependency is included?"
Hi,

I started work on a project with Papaparse included and when I run the build it does perform the conversions, but includes the following compile errors:

[code]

[I created a demo project here.](https://github.com/oleersoy/typescript-path-transform-demo)  Thoughts?

[2019-06-08 02:12] danielpza commented on #18
Hi @oleersoy, I tested it your demo and it seems it is not related with this plugin and instead with the types definitions of the papaparse package. Compiling with `tsc` yields the same errors:

[code]
It seems there is already a similar issue in https://github.com/DefinitelyTyped/DefinitelyTyped/issues/29752, apparently you need to include `dom` in `libs` in your tsconfig.json:

[code]

[2019-06-08 03:20] oleersoy commented on #18
Ah - Good catch!  I had it running in a different project and did not see that error, so I thought everything was all good.  Added the `dom` option and now it works beautifully!  Thanks again for this great plugin!

[2019-06-08 03:20] #18 closed

[2019-06-08 04:03] oleersoy opened #19 "[Documentation] Blog Post Contribution"
Wrote up a blog post with MVCE example from the last issue showing how to put the plugin to use.  Thanks again for this awesome plugin!

https://medium.com/@ole.ersoy/node-consumable-modules-with-typescript-paths-ed88a5f332fa?postPublishedType=initial

[2019-06-08 04:25] danielpza commented on #19
That's great @oleersoy, thanks, I'll add the article to the project readme.

What do you think about showing how would it end after refactoring from relative to absolute paths in the article?

[2019-06-08 04:33] danielpza commented on #19
@all-contributors please add @oleersoy for blog

[2019-06-08 04:53] oleersoy opened #21 "index.d.ts file no longer generating path?"
[I changed the example](https://github.com/oleersoy/typescript-path-transform-demo) a little bit so that it consumes the sum module within the same project and does the for other modules through `index.ts`.  However now [`index.d.ts`](https://github.com/oleersoy/typescript-path-transform-demo/blob/master/target/index.d.ts) and `index.js` do not have their paths converted.  Any ideas?  I pushed the

[2019-06-08 05:19] danielpza commented on #21
It seems related with the imports/exports changes made a few commits back, I'll check it out.

[2019-06-08 07:08] danielpza commented on #21
@oleersoy, the fix is up in v1.1.4, please upgrade.

Also see https://github.com/LeDDGroup/typescript-transform-paths/issues/4#issuecomment-486380340 for transforming declaration files:

[code]

[2019-06-08 17:51] oleersoy commented on #21
AWESOME!  Just tested it - looking good on my end!  Thanks!

[2019-06-08 18:33] #21 closed

[2019-06-09 19:34] oleersoy opened #22 "Really Strange Behavior"
I'm seeing something really strange that I can't reproduce in a the [MVCE](https://github.com/oleersoy/typescript-path-transform-demo) that I created earlier, so I'm just reporting it in case I'm triggering some sort of edge case.

I'm exporting an `IDistribution` interface from a module like this:
[code]

Everything exports fine and shows up in the compiled `index.d.ts` except for the `IDistribut

[2019-06-10 20:57] #19 closed

[2019-06-19 00:30] travigd opened #23 "Imported Types Deleted From Declarations"
This is related to #9 (and associated PR #10).

It seems like (for versions > v1.1.0) typescript-transform-paths erases type information from declaration files which is a _problem_ when you're trying to create a library that exposes functions that use that type information. I created a simple repo to show this: https://github.com/travigd/ts-transform-paths-bug-repro

Short version, `index.ts` is
[

[2019-07-07 20:25] oleersoy opened #24 "Import not generated"
[`ObjectErrors`](https://github.com/fireflysemantics/validator/blob/master/src/container/error/ObjectErrors.ts) import `ValidationError`.

When the projects build is run, the import is not generated.  I think it's because `ObjectErrors` and `ValidationError` both reside in the same directory.

If I do not use a `paths` import, but instead switch it to a relative import, then the build generates th

[2019-07-07 20:58] oleersoy commented on #24
Found another one.  Inisde the `ValidatorError` the `ValidationContext` import is not being generated:

https://github.com/fireflysemantics/validator/blob/master/src/container/error/ValidationError.ts

[2019-07-07 21:12] oleersoy commented on #24
I'm finding more now.  Looks like a lot of imports are not being generated in general.

[2019-07-07 22:01] oleersoy commented on #24
Before switching over to this plugin I was using a pretty simple script to perform the path translations:

[code]

I worked perfectly.  Perhaps the algorithm could be incorporated here.

[2019-07-09 02:06] oleersoy commented on #24
I'm going to change the paths that are not being generated back to relative paths.  This is the commit ID for the build that has the errors:

https://github.com/fireflysemantics/validator/commit/24e5eee4e43c67c53174dab9bc7a798ae1b0a789

It's corresponds to package version 1.18.  The new release will have version 1.19.

[2019-07-09 02:14] oleersoy commented on #24
I noticed that for these imports:

[code]

The imports `IsDefined` and `MetaClass` are not imported.  That's OK because they are not part of the `.d.ts` type information.  So I wonder if the plugin is confused WRT which nodes are part of the `.d.ts` type information and which ones are not.

[2019-07-09 15:18] danielpza commented on #24
A fix is up with v1.1.5, please upgrade. It should also fix #23 and #22.

[2019-07-09 15:19] danielpza commented on #23
A fix is up in v1.1.5, please upgrade.

[2019-07-09 15:19] #23 closed

[2019-07-09 15:20] #22 closed

[2019-07-09 17:20] oleersoy commented on #24
Awesome - Will try it out ASAP!!  THANKS!!

[2019-07-09 18:10] oleersoy commented on #24
OK - Hopefully just one weird bug left.  In `src/container/validation/index.ts` I have the following exports:
[code]

When the build runs the corresponding `index.d.ts` file has these exports:

[code]
So it left off the
[code]
Export.  Thouhts?

[2019-07-09 18:20] danielpza commented on #24
I added a regression test and a fix in https://github.com/LeDDGroup/typescript-transform-paths/commit/0263f06, could you test it and see if there's any other issues before deploying a new version?, is fine either way

[2019-07-09 18:26] oleersoy commented on #24
Sure - I'm cloning it right now.

[2019-07-09 18:30] oleersoy commented on #24
I just tested it with the cloned install, and it looks like the `ValidationOptions` export is still missing.

[2019-07-09 18:32] oleersoy commented on #24
Actually - Hold on - I think maybe the install of the clone did not go right.  Looking at it now.

[2019-07-09 18:33] danielpza commented on #24
uhmm, I tested it on your project and it seems to be working, I installed my version from github:

[code]

And it shows:

[code]

[2019-07-09 18:34] danielpza commented on #24
nvm, cool, if you find any other issue let me know. Thanks a lot for the feedback

[2019-07-09 18:36] oleersoy commented on #24
OK - Just tested it - And it's looking good!  Thanks again!  You rock!

[2019-07-09 18:39] danielpza commented on #24
v1.1.6 is up

[2019-07-10 19:31] #24 closed

[2019-07-11 01:43] oleersoy opened #25 "Travis build failing"
Bumping into a strange issue with Travis.  It says it can't download package.json for typescript transform paths.  It works fine for me locally.  This is the build page:

https://travis-ci.org/fireflysemantics/validator

[code]

[2019-07-11 19:26] danielpza commented on #25
The problem is in https://github.com/fireflysemantics/validator/blob/master/package.json#L48:

[code]

I guess you forgot to reference `typescript-transform-paths` back to npm after you were done testing ;)

[2019-07-12 12:39] oleersoy commented on #25
Ooooh - Thanks!  I'll get that fixed.

[2019-07-12 12:39] #25 closed

[2019-07-30 17:05] richardspence opened #26 "Transform paths doesn't work with import require statements"
I tried out this plugin and it works great for normal es6 import statements with default or named exports.  Unfortunately it doesn't work on files with the legacy commonJS export shape.

A workaround is to change the import to es6 and use something like the `esModuleInterop` compiler flag.  That requires modification of the source code though, and therefore is a heavy handed.

## Dependency.ts
[co

[2019-07-30 18:59] danielpza commented on #26
Hi @richardspence , thanks for reporting the issue, [a PR](#27) is up and should merged and publish in short.

@all-contributors please add @richardspence for bug.

[2019-07-30 19:05] danielpza commented on #26
@richardspence, a fix is up in *v.1.1.7*, please upgrade

[2019-07-31 20:07] richardspence commented on #26
@danielpza the fix doesn't quite handle the scenario I mentioned.  The code/tests are looking for `var x = require('...')` where it needs to instead look at `import x = require('...');`

[2019-08-01 00:18] danielpza commented on #26
@richardspence, I made a PR with a fix #29, it should cover your use case.

Could you explain why?

[2019-08-01 00:38] richardspence commented on #26
Someone could have a locally scoped require variable and this could introduce unintended consequences. I think it's ok to be opinionated that this only supports the import syntax (and the constraints that come with it (like must be top level, etc.).

There are other edge cases like require invocations can be dynamic and pass variables or concatenations - and that's all avoided by restricting yours

[2019-08-01 00:50] danielpza commented on #26
I see, while I guess it would still apply to commonjs/require modules, it could be written with `import`, so I think we won't miss it there. I'll rollback those changes, thanks :+1:

[2019-08-01 01:08] danielpza commented on #26
@richardspence, a fix is up, upgrade to *v1.1.8*

[2019-08-05 19:51] #26 closed

[2019-08-06 16:34] richardspence opened #30 "Plugin doesn't follow the same module-loader search paths"
## Summary
The plugin treats the paths in the tsconfig as gospel for adjusting the resolution path.  It should instead use it as the primary search folder for determining where the module is located before falling back to the default module resolution strategies.

## Repro steps
tsconfig:
[code]
foo/IFoo
[code]
foo/File2
[code]

## Expected
The plugin to not transform the relative imports (since t

[2019-08-06 16:42] richardspence commented on #30
The fix should be to adjust `bindModuleToFile` to only return if the `targetFile[.ts|.js|.d.ts|.json|.jsx|.tsx]` exists on the location.  `JSON` and `JSX` or `TSX` only if the applicable compiler options are turned on.

[2019-08-06 23:06] danielpza commented on #30
This could be tricky, as those are not the only extensions a module could have, eg it could be `.css`:
https://webpack.js.org/guides/typescript/#importing-other-assets

[2019-08-06 23:19] richardspence commented on #30
Yup and you could have something like this as well:
[code]

One option is to ignore the additional loaders like `css!`

For the other extensions you could make it configurable to add/replace/remove

[2019-08-15 08:47] MicahZoltu commented on #4
@danielpza I suspect it is this problem: https://github.com/Zoltu/typescript-transformer-append-js-extension/issues/3#issuecomment-520820776

TL;DR: If anything transforms an import or export declaration, the source visitor will skip it.  By running your transformer `after` or `afterDeclarations`, you end up running after the source visitor, which means you get transformations that the source visi

[2019-08-16 18:06] danielpza commented on #4
Hi @MicahZoltu , uhm, leaving only:

[code]

didn't work for me, the declaration files are not being transformed

https://github.com/LeDDGroup/typescript-transform-paths/commit/17c149b - test didn't pass

[2019-08-16 18:11] MicahZoltu commented on #4
Hmm, in that case this may be a different issue.  I wonder if `after` is before or after `afterDeclarations`?

[2019-08-19 14:07] viT-1 opened #31 "Emits '../' for node_modules and subfolder tsconfig"
tsconfig.base.json compilerOptions:
[code]

subfolder/tsconfig.json:
[code]

ttsc generated module file:
`import Vue from "../https:/cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js";`

[2019-08-19 18:05] danielpza commented on #31
Just to be clear, the expected output is `import Vue from "https:/cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js";` ?

[2019-08-20 06:39] viT-1 commented on #31
Yes. And I have so much '../' in my module with import from 'vue' as depth of its folder.

[2019-08-20 14:14] danielpza commented on #31
@viT-1 , a fix has been released, please upgrade to *v1.1.9*

[2019-08-20 15:11] viT-1 commented on #31
Thank you!

[2019-08-20 15:21] viT-1 commented on #31
It seems that is not transformed vue to uri at all.

[2019-08-20 15:35] #31 closed

[2019-08-20 19:25] danielpza commented on #31
I'm glad it helps :), feel free to report any issues you might find

[2019-08-20 19:50] danielpza commented on #31
@all-contributors please add @viT-1 for bug.

[2019-08-20 23:26] danielpza commented on #30
Hi @richardspence, I reread the tsconfig docs and yes, the only extensions allowed are `.ts`, `.d.ts`, `.jsx`, etc...

I release a fix, please upgrade to *v1.1.10*.

[2019-08-21 14:09] #30 closed

[2019-09-17 15:40] viT-1 opened #34 "why local path is not transformed?"
I have [success](https://github.com/LeDDGroup/typescript-transform-paths/issues/31) with tsconfig.json paths:
`"vue": ["https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.esm.browser.js"]`
path is transformed to import from 'url...'
but if I use (for fixing vue-class-component.esm.js `import vue from 'vue'` to `import vue from 'url...'` resolving es6 modules without importmap)
`"vue-class-component"

[2019-09-17 16:11] viT-1 commented on #34
Instead of [this](https://github.com/viT-1/systemjs-ts-es6-vue/blob/53f31f47975de22f74a60468d529a9065dd46605/gulpfile.esm.js#L75) I want to use transform path in [tsconfig](https://github.com/viT-1/systemjs-ts-es6-vue/blob/53f31f47975de22f74a60468d529a9065dd46605/src/tsconfig.dev.json#L12) (vue use cdn, vue-class-component needs something like `"vue-class-component": ["../dist/vue-class-component.

[2019-09-17 18:44] danielpza commented on #34
@viT-1 , I'm not sure what's the expected output here, can you post snippets of your tsconfig.json, and the output and desired behavior?

[2019-09-17 19:08] viT-1 commented on #34
https://github.com/viT-1/systemjs-ts-es6-vue/commit/77c91bc4ac94088e43802602280768802dce6e79
npm run deploy.dev should transpile dist\common.blocks\IamHeader\IamHeader.js
with import Component from '[relative path to dist/vue-class-component.esm.js]';
but I have `import Component from 'vue-class-component';`

[2019-09-17 22:54] danielpza commented on #34
@viT-1, since v1.1.10 (See https://github.com/LeDDGroup/typescript-transform-paths/issues/30 and https://github.com/LeDDGroup/typescript-transform-paths/commit/e6c51e0bfb8b7f72bc72be7919f2fe1f284732dc)  the plugins no longer uses the first entry in path for resolution, instead it check for one entry that exists and falls back to the original, so in this case is failing because `../dist/vue-class-c

[2019-09-19 07:33] viT-1 commented on #34
[Changed to predeploy](https://github.com/viT-1/systemjs-ts-es6-vue/commit/6ada3e43b466c0a48046a2e92a290d8f45eaff52) but it caused to another bug (may be ttypescript issue): in dist now I have another dist and src =(
Strange effect after typescript-transform-paths. If I [remove relative path](https://github.com/viT-1/systemjs-ts-es6-vue/blob/6ada3e43b466c0a48046a2e92a290d8f45eaff52/src/tsconfig.de

[2019-10-02 08:46] laij84 opened #36 "Path to files with multiple `.` extensions not transformed"
I have a monorepo setup with a package that contains React Native components. The naming convention for React Native files is to have `.native` in the extension, for example `utils.native.ts`.

Import paths referring to files with multiple `.` extensions do not get transformed into relative paths.

[2019-10-02 18:28] danielpza commented on #36
@laij84 thanks for the bug report , you can check #37 for the fix, it should be published in short.

/cc @all-contributors

[2019-10-02 18:33] danielpza commented on #36
@all-contributors add @laij84 for bug

[2019-10-04 04:26] #36 closed

[2019-10-14 06:43] dko-slapdash opened #39 "The plugin works only when "paths" exists in tsconfig, why?"
Thanks for this plugin!

I noticed that I have to add a dummy `"paths": { "*": ["*"] }` entry to tsconfig to make the transformer work. Without it, the module does nothing:

[code]

Adding a dummy entry `"paths": { "*": ["*"] }` solves the problem.

My IMHO is following: it's a little strange to require "paths" to be present in tsconfig.json. I think in an ideal world, the transform plugin should

[2019-10-14 20:03] danielpza commented on #39
Yes, as you say `path` it's not always necessary, I was not aware of it. You are welcome to make a PR, otherwise I'll address it when I'm available.

ref: https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-0.html#base-url

[2019-10-14 20:04] danielpza commented on #39
@all-contributors add @dko-slapdash for bug.

[2019-11-09 23:01] danielpza commented on #39
@dko-slapdash, the fix is up in v1.1.12, upgrade.

[2019-11-11 01:37] dko-slapdash opened #42 "One more corner case when paths is present in tsconfig, but doesn't have "*": ["*"] there"
Thanks for the previous fix in PR https://github.com/LeDDGroup/typescript-transform-paths/pull/41! It works perfectly when no `paths` key is defined in tsconfig.

But actually I think that `const { baseUrl = "", paths = { "*": ["*"] } } = compilerOptions;` still doesn't cover all the cases. Here is another example which makes the TS compiler totally happy, but ttsc (with this plugin) doesn't resol

[2019-11-11 02:07] danielpza commented on #42
Thanks for the bug report, a fix will be merged shortly.

I also have another PR that should cover all those edge cases and should behave exactly as the typescript compiler #44

[2019-11-11 02:27] #42 closed

[2019-11-11 02:36] dko-slapdash commented on #42
Thank you!

JFYI, there is another example where tsc & /typescript-transform-paths work differently.

The below example is not caught up by typescript-transform-paths, it doesn't resolve e.g. `import "shared/xyz"` when `shared/xyz.ts` locates in common/src/shared/xyz.ts.

[code]

At the same time, an absolutely equivalent construction below works:

[code]

Hope PR #44 will cover it too.

[2019-11-11 02:39] danielpza commented on #42
Yep, #44 should cover it. I'm still considering it, I could use your opinion on it btw. I'll probably push another fix in meantime.

[2019-11-11 07:54] dko-slapdash commented on #42
Cool. I've just made typescript-transform-paths the only source of truth about paths in our project (and removed NODE_PATH=xyz hacks everywhere), works fine so far.

I have one more thought on all these. Maybe it's not a part of this particular issue, but it's probably too raw to create a new issue (more precisely, a feature request, and maybe even not for typescript-transform-paths).

In short, i

[2019-11-11 18:18] danielpza commented on #34
Closing to keep the repository clean, if you have any more problems or ideas feel free to open an issue.

[2019-11-13 08:00] viT-1 commented on #34
@danielpza can it be configured? e.g. with npm warning, but force transform to local or relative url paths from tsconfig?

[2019-12-26 14:48] hedwiggggg opened #45 "Seems to be not working with dynamic import expression"
https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-4.html

Hey, i'm using the dynamic import if i'm only importing a type, to prevent import cycles.
But it seems, that these import aliases won't get transformed.

`declare type QuestionModel = import('@/models/Question/model').QuestionModel;`

Just stays the same, the other, es6-style imports are transformed just fine.

[2019-12-26 20:06] hedwiggggg commented on #45
I've searched a bit and found the typescript method:

`isImportTypeNode`

the function call is true for dynamic imports.
We could use that to unpath the dynamic imports.

[2019-12-26 20:15] danielpza commented on #45
@hedwiggggg thanks for the bug report. It would be great if you make a PR, it seems you are on the right track. Otherwise I'll address it later when I'm available.

[2019-12-26 21:56] hedwiggggg commented on #45
@danielpza See the PR, that should do the trick.

[2019-12-27 01:28] #45 closed

[2019-12-27 01:33] danielpza commented on #45
fixed in v1.1.14

[2020-02-24 19:20] booninite opened #48 "Importing a mix of types and values in an import using a custom path results in undefined imports in result JavaScript"
Given:

file1.ts:
[code]

file2.ts:
[code]

When the code is compiled, the Javascript import will read something like this:

file2.js:
[code]

but `Foo` will be undefined and cause errors.

[2020-02-24 21:37] danielpza commented on #48
Thank you for the bug report, good spot.

[2020-02-26 22:26] leviwheatcroft opened #49 "external modules with the same name as directories"
Probably more of a limitation than a bug really...

If you have a directory in your project with the same name as an external module, typescript-transform-paths will replace the import for the external module with a relative path to the directory, instead of importing the external module.

For example, if you have a file `graphql/types/scalar.ts` which includes something like `import { GraphQLScal

[2020-02-26 23:32] danielpza commented on #49
:thinking: well, we'd have to check with the typescript module resolution strategy https://www.typescriptlang.org/docs/handbook/module-resolution.html.

Could you rerun typescript with the `--traceResolution` flag as stated here https://www.typescriptlang.org/docs/handbook/module-resolution.html#tracing-module-resolution.

[2020-04-05 18:34] kuskoman opened #50 "Paths in TypeScript declaration files aren't transformed"
The library is correctly changing paths in normal js files, however after compilation .d.ts files still have custom paths in names

[2020-04-05 18:35] #50 closed

[2020-04-06 04:43] danielpza commented on #50
No problem, we should probably show in the readme how it's done instead of linking the issue.

[2020-04-06 18:58] danielpza commented on #48
Hi @booninite, I've made a PR #53 that should fix this issue, I'll probably merge it and publish it to npm later today.
It seemed to be an issue with the latest versions of typescript, could you confirm this fix it for you?

@all-contributors add @booninite  for bug.

[2020-04-08 00:51] booninite commented on #48
@danielpza I wasn't able to pick up the fix today, I should be able to try it out tomorrow and can let you know :+1:

[2020-04-08 09:14] laverdet commented on #48
It doesn't seem to be working when I try it. Sample output & configuration is below:

[code]

[2020-05-04 10:52] DmitryKoterov commented on #48
@danielpza
Unfortunately PR #53 doesn't help, still the same effect.

Here is a with minimal code which reproduces the issue: https://github.com/DmitryKoterov/typescript-transform-paths-bug - could you please take a look?

Those excess import symbols don't allow to use es6 modules since node complains on an attempt to import an undefined symbol:

![image](https://user-images.githubusercontent.com/

[2020-05-05 00:21] dko-slapdash opened #58 "The plugin removes comments inside import() statements, e.g. /* webpackChunkName */"
[code]

Without typescript-transform-paths, this correctly transpiles to the exactly same JS code, the comments remained.

With typescript-transform-paths, it transpiles to:

[code]

I.e. the plugin removes comments even when removeComments=false in tsconfig.json's compilerOptions.

This issue doesn't allow to use custom chunk names when e.g. using webpack to bundle the content of dist/ folder (wh

[2020-05-24 08:31] george43g opened #59 "Compiled JS file has a require that points to incorrect TS file extension"
I noticed a bug with my setup.

I use ttsc to compile a TS library to a JS one.

There are `paths` in my `tsconfig.json` that point to specific `*.ts` files.
For example: `"@my-app/lib1": "./path/to/index.ts"`
The transformer changes these to `require('.../path/to/index.ts')` - the file extension remains the same in the compiled version, even though `tsc` would normally convert these to `.js` or n

[2020-07-29 18:34] nonara opened #60 "Only transforms if relative to first path in the array"
Example

`./index.ts`
[code]

`./tsconfig.json`
[code]

Output: `index.js` (I used ESNext for readability, but happens with CommonJS as well)
[code]

[2020-07-29 19:14] nonara commented on #58
I'm not certain that this can be avoided. At least not via the compiler API. Unfortunately, the TS Compiler API does not allow inserting or updating comments.

Unless I'm wrong, this would be a limitation on the TS compiler side and not a bug with this library.

[2020-07-29 19:23] dko-slapdash commented on #58
Is there a chance to to a text-based post-processing step once the compilation of a file finishes? Then it would be possible to dirty-replace at least no-op transformations with just regexps, like
[code]

[2020-07-29 20:44] nonara commented on #58
It can be done and integrated into the build process if you use a `programTransformer` with [ts-patch](https://npmjs.com). I wrote it to handle situations like that, but it requires a pretty strong knowledge of the TS compiler API and working with AST nodes. Steep curve if you're new to that.

Regex replace is going to have some problems, especially if it has quotes. AST is probably going to be be

[2020-07-30 00:10] #48 closed

[2020-07-30 00:10] #60 closed

[2020-07-30 00:18] danielpza commented on #59
should be fixed by #61

[2020-07-30 00:18] #59 closed

[2020-07-30 00:21] nonara commented on #58
If you like, @danielpza, you can close this, as it's a TS compiler issue.

[2020-07-30 00:33] danielpza commented on #58
If removing the comments inside imports it's not the default typescript behavior and with this transformer it does, it seems like a bug even if it's not possible to fix it from our side.

I'll probably leave it up for a while in case someone wants to chime in, and I"ll reference it in the readme before closing it. Thanks for the insight

[2020-07-30 00:39] danielpza opened #64 "Automate publish to npm"
probably with github actions

[2020-07-30 00:46] nonara opened #65 "Not working for rootDirs setting"
Projects using `rootDirs` define virtual directories. The output source code does not respect the `rootDirs` setting, meaning that it outputs paths relative to the original directories. This is problematic for code which uses `rootDirs`, as the build process merges directories which breaks the output path.

Will create a fix now.

[2020-08-04 02:44] #49 closed

[2020-08-04 02:44] #65 closed

[2020-08-06 12:50] Mr-jiangzhiguo opened #67 "@@ not work"
### tsconfig.json

[code]
### then ttsc:

![image](https://user-images.githubusercontent.com/22312092/89533485-1459ae80-d826-11ea-9b11-e55f8922cc51.png)

### Env:

- typescript: v3.9.5
- ttypescript: v1.5.10
- typescript-transform-paths: v1.1.14
- macOS: 10.15.6
- node: v10.15.3
- yarn: v1.22.4

[2020-08-06 12:56] Mr-jiangzhiguo commented on #67
### I update to v2, it work well

[2020-08-06 12:56] #67 closed

[2020-08-21 11:56] vladimiry opened #68 "typescript v4 support"
typescript@4.0.2
typescript-transform-paths@2.0.0

[code]

[2020-09-15 21:00] vwpo commented on #68
`typescript@4.0.2`
`typescript-transform-paths@2.0.0`

Confirm that plugin doesn't replace paths in declaration files
but it works with `typescript@3.0.5`

[2020-09-16 22:14] nonara commented on #68
Sorry that this took awhile to get to. I've been completely swamped.

The good news is, the upgrade for TS4 compatibility is done and was painless.
The bad news is, the bug in the compiler is still not fixed. 😞

This means that _type_ specifiers in and import or export declaration get output in the JS, which is not good.

I'm investigating it now to see if I can determine what's happening. Stay tu

[2020-09-17 01:39] nonara commented on #68
Fixed. New version incoming: https://github.com/LeDDGroup/typescript-transform-paths/pull/69

## Background

For those interested, I didn't track out exactly what was happening in the compiler. I found a few flags discrepancies on the AST nodes (between transformed and original), however, accounting for them didn't make a difference. There may be an internal map somewhere linking some information

[2020-09-17 02:27] #68 closed

[2020-09-18 03:44] #64 closed

[2020-09-18 03:50] nonara commented on #34
@viT-1 If you're still interested in this. please try with v2 and see if it does what you'd like. If it doesn't do what you expect, please give me a little more detail.

We've recently transitioned to relying fully on the TS Compiler API, so we likely won't be implementing any logic which diverges from the standard behaviour, but if I'm open to hearing your use case!

[2020-09-18 04:17] nonara commented on #58
I did a little more research, and it looks like this should be possible now. I'll have a look at it when I can!

If anyone is following this thread and is interested, leave a comment so I know what the demand is.

[2020-09-18 11:13] vladimiry commented on #68
Can confirm issue resolving on my case. Thanks everyone involved.

[2020-09-18 13:38] danielpza commented on #68
Big thanks to @nonara for putting up the PR.

@all-contributors add @vladimiry @vwpo for bug

[2020-09-18 13:40] danielpza commented on #68
@all-contributors also add @vwpo for bug smh

[2020-09-25 18:50] tareqdayya opened #72 "Stopped working after upgrade to 2.0.0"
Hi, this plugin stopped working after upgrading from 1.1.14 to 2.0.1.
Here's my config.
[code]
I use it with ttsc (ttypescript).

[2020-09-25 19:05] nonara commented on #72
Hi Tareq,

We'll probably need more information to be of any help. Is there an error? What is the behaviour that's happening and what were you expecting?

I don't see a `paths` property in your config. The plugin isn't going to do anything unless you have paths configured.

[2020-09-25 19:07] tareqdayya commented on #72
Hi @nonara , Thanks for answering.
There's no error, it just doesn't do what it's supposed to (doesn't transform paths.)
Yup, I don't have a `paths` property. It seems the 1.1.14 version works without one.
Anyway, I downgraded and it seems to work without issues.
Thanks,

[2020-09-25 19:12] danielpza commented on #72
@tareqdayya what typescript version are you using?

[2020-09-25 19:13] tareqdayya commented on #72
Hi @danielpza
I've tried it with 3.7.2 and 4.0.3. Results were identical.

[2020-09-25 19:17] nonara commented on #72
@tareqdayya Hmm. Would you mind providing an example of what it's transforming without paths configured in <2?

[2020-09-25 19:35] nonara commented on #72
Ok. I had a look at the old code, and I think I see what's going on.

@tareqdayya  Try adding this to your tsconfig, and it should work with v2:
[code]

We updated the logic to rely on TS Compiler API, which has improved many issues. It's also updated to support TS v4, which in a few versions will deprecate the old API, causing v1.x of this plugin to break. I would recommend upgrading to v2.

Stil

[2020-09-25 19:41] tareqdayya commented on #72
@nonara Yup :) That fixes it.

What i'm doing is using absolute imports relative to baseUrl. For example:
`import router from 'controllers';`
Would import from `src/controllers`; `src` being my baseUrl in tsconfig. I would use the same import from any file.
I've upgraded to v2. Will monitor it for a while and let you know in case there's an issue with this approach.
Thanks,

[2020-09-25 19:47] nonara commented on #72
@tareqdayya Ok. Thanks! That makes sense. Glad it's all set!

[2020-09-25 19:55] tareqdayya commented on #72
Ok, so this went sour pretty quickly 😂
I've run into this error with version 2 (i've tried downgrading, the problem doesn't occur in the older version):
`/Users/mac/Desktop/venv/var/www/Playgrounds/linqpal-challenge/server/node_modules/typescript/lib/typescript.js:103736
                throw e;
                ^

TypeError: Cannot read property 'text' of undefined
    at getErrorSpanForNode (/Use

[2020-09-25 20:51] nonara commented on #72
Interesting. We can keep it in this issue. Can you see if you can create a second file and reproduce it so I can look into it?

[2020-09-26 07:49] tareqdayya commented on #72
@nonara Yeah absolutely. `types.ts` actually contains only one interface:
`
export interface UserType {
  firstName: string,
  lastName: string,
  telNumber: string,
  fullAddress: string,
  SSN: string,
  isAdmin: boolean,
}
`
The `Document` type on the other hand is imported from mongoose.

[2020-09-27 08:08] osyrisrblx commented on #72
Seeing a similar issue. I have a .d.ts file that only exports types and another file that does:
[code]

This seems to now compile instead of being erased.

[2020-09-27 15:18] nonara commented on #72
@osyrisrblx That's due to a change in TypeScript 3.9. See: [Export * is always retained](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-9.html#export--is-always-retained)

With v2.0.0 of this plugin, we standardized behaviour to match TypeScript's.

[2020-09-27 15:38] nonara commented on #34
Closing for housekeeping. If there is any further issue, feel free to comment, and we can investigate.

[2020-09-27 15:38] #34 closed

[2020-10-07 12:13] clintwood commented on #72
@nonara - FYI I'm getting the same or similar issue as @tareqdayya [gets above](https://github.com/LeDDGroup/typescript-transform-paths/issues/72#issuecomment-699124880) when using `ttsc --watch` and make any change that triggers a recompilation.  For example if I open any source file and save it (even without any code changes) to trigger a watch change I get the dump below.

I have confirmed that

[2020-10-07 19:58] nonara commented on #72
Ok, so here's the update on this one for everyone.

This problem is linked to an issue in the TypeScript API that has been around for awhile. Namely, type-only export elision breaks when we modify either `ImportDeclaration` or `ExportDeclaration` nodes (including any children). We were able to workaround this issue in TS 3 by using an internal API method called `updateNode`. Unfortunately, that me

[2020-10-22 18:24] lukemorales opened #73 "Declaration files paths not being transformed when using 'import type...'"
I've been struggling with the generated declaration files paths not being transformed to relative paths and I was using i.e ` import type { Type }  from '@/common/types'`.
I removed all `import type {}` and replaced with the standard `import { Type }  from '@/common/types'` and it transformed correctly in the declaration files, so there seems to be a problem resolving the `import type` syntax 🤔

[2020-10-22 19:15] nonara commented on #73
Thanks for the report, Luke. What version of TS are you using?

[2020-10-22 19:18] lukemorales commented on #73
@nonara TS version 4.0.3, latest available in VSCode

[2020-10-22 19:29] nonara commented on #73
I can't reproduce on this end.

The following transforms properly for me:

`root-dir/file1.ts`
[code]

`index.ts`
[code]

Can you create a reproduction?

[2020-10-23 00:06] #58 closed

[2020-10-23 00:11] nonara commented on #58
This should be sorted with the latest version! v2.0.2

Let us know if you have any issues with it.

[2020-10-23 00:15] nonara commented on #73
I've added tests to ensure type-only import works, and everything seems to be ok. Are you using v2+?

If you can find a way to reproduce with two files, please let me know and I'll look into it.

[2020-10-26 13:57] nivida opened #75 "Transforming of the paths doesn't work as expected"
As soon as I have all imports in the ``public/`` folder defined to be transformed does it no longer work. Means ``tsc`` isn't able to give out any result.

See: https://github.com/aragon/govern/pull/77

[2020-10-26 14:10] nivida commented on #75
... I will investigate further.. could also be a bug of TSC itself...

[2020-10-26 14:43] nivida commented on #75
Sorry for the notifications.. it is clearly a bug of TSC. 👌

[2020-10-26 14:43] #75 closed

[2020-11-17 06:27] #72 closed

[2020-11-17 06:36] nonara commented on #73
Closing for housekeeping. Feel free to comment if you think this was in error.

[2020-11-17 06:36] #73 closed

[2020-11-17 06:40] nonara commented on #72
Hi all. This should be sorted now! I was able to steal some time to dig into the compiler a bit more.

Post-mortem is here if anyone is interested: https://github.com/LeDDGroup/typescript-transform-paths/pull/76

The short version is, you won't have to wait on a new TS version. It should be compatible with all TS versions. Anyone who was experiencing issues, I'd greatly appreciate it if you let me

[2020-11-22 01:58] dko-slapdash commented on #39
@danielpza I think this regressed in v4, repro steps:

*package.json:*
[code]

*tsconfig.json:*
[code]

*src/a.ts:*
[code]

*src/b.ts:*
[code]

Run:
[code]

*Expected result in a.js:*
[code]

*But got:*
[code]

[2020-11-22 03:39] dko-slapdash opened #77 "Workaround for Import/Export Declarations can break chained transformers"
Hi.

The library uses `createLiteral()` (which is deprecated in the last TS BTW) which creates a token with parent=undefined. And other transformers (like typescript-is) may not like this: they expect `parent` to always be defined.

Steps to repro:

**a.ts:**
[code]

**package.json:**
[code]

**tsconfig.json:**
[code]

**It crashes TS with the following error:**
[code]

I printed what's in the ori

[2020-11-22 04:04] nonara commented on #77
@dko-slapdash Thanks for the report. There were several issues due to that. It was an attempt to workaround an existing bug in TS. The latest version has an updated method which creates a mutable clone of the existing node.

`createLiteral` is okay to use. The issue is that it's done in a way that circumvents the internal logic to fixup transformed nodes during transformation.

Please try out the

[2020-11-22 04:12] dko-slapdash commented on #77
Thanks! I've just tried the version from master, got another error:
[code]

Same steps to reproduce as above.

[2020-11-22 04:14] dko-slapdash commented on #77
I think cloneNode() doesn't do what is expected from its name. Here is the result of such cloning:

![image](https://user-images.githubusercontent.com/46383452/99893570-05143a80-2c36-11eb-9ef6-eb1f40a8f454.png)

We can see that pos/end/parent are still different.

[2020-11-22 04:16] dko-slapdash commented on #39
@nonara - this is where v2 works differently than v1.
Also, here is a related thing which I guess is different too: https://github.com/LeDDGroup/typescript-transform-paths/issues/42

[2020-11-22 04:31] nonara commented on #77
@dko-slapdash Thanks. I'll look into this tomorrow.

`cloneNode` is the TS4 replacement for `getMutableClone`. It works as expected / documented. `pos` and `end` being -1 is actually the expected value. Any `factory.create/update...` function outputs nodes with the same values for position. The compiler fixes up the position detail for new nodes after transformation.

That said, I didn't realize t

[2020-11-22 04:51] nonara commented on #39
@dko-slapdash We made a determination with v2 to strictly adhere to the compiler's logic and to rely on the compiler API for module resolution. see: https://github.com/LeDDGroup/typescript-transform-paths/pull/66

The reason we released as a breaking change is because we knew that there could be some config which was divergent from TS's own module resolution methodology.

Module resolution in v2 i

[2020-11-22 07:23] dko-slapdash commented on #77
Interesting.

What about watch mode BTW? We sometime notice that tsc stops responding to some particular (random) *.ts files changes in watch mode, and also that for such files, typescript-transform-paths v1 also stops outputting the right paths. Not possible to reproduce unfortunately. Is it somehow related to what you mentioned about watch mode?

[2020-11-22 07:29] dko-slapdash commented on #39
Just to make sure we're talking about the same thing: TS itself _successfully resolves_ path like "b" to "src/b" thanks to its baseUrl (or rootDir? don't remember exactly). I.e. by itself, TS works fine without `"paths": { "*": ["*"] }` hack. If TS itself recognizes the path, then typescript-transform-paths should emit the correct path too, right? Because if typescript-transform-paths doesn't reco

[2020-11-22 21:17] nonara commented on #39
@dko-slapdash Sorry about that, I misunderstood. I actually didn't realize that you could map without paths. You're correct that `resolveModuleName` does resolve it.

Related - TS 4.1 just made [baseUrl optional](https://devblogs.microsoft.com/typescript/announcing-typescript-4-1/#paths-without-baseurl).

The code was originally written with an optimization such that if `baseUrl` and `paths` were

[2020-11-22 21:32] nonara commented on #77
Watch mode can be tricky. We've seen quite a few issues related to watch mode in issues for ttypescript / ts-patch. It's been awhile since I've been in that part of the TS codebase, and I haven't dug too deep in, so I can't speak with total authority, however, if memory serves, watch mode minimizes redundancy as much as possible. I believe it rebuilds the `Program` instance using the former and re

[2020-11-22 21:51] nonara commented on #77
Ok. I'm looking over this now. Couple things:

1. As of TS 4, the factory functions were migrated from the `ts` namespace to a `factory` instance.

   During that migration, some methods were named for clarity. `createLiteral` was the prescribed method for creating a literal node. In TS4+, they deprecated all of the factory functions in favor of using `factory`. The literal factories were split ou

[2020-11-22 23:20] dko-slapdash commented on #77
b.ts is arbitrary - it can just be

export const b = 42;

P.S.
We’re currently use v1 with ts 4.1 successfully (at least for one day). I hope it will continue working that way. And we can’t use v2 due to the above conflict with typescript-is library.

[2020-11-23 02:00] nonara commented on #77
Ok, here's my update on this.

`typescript-is` appears to be trying to resolving the module name via the typechecker and failing. It calls `getResolvedSignature` which eventually fails at `resolveExternalModule`. That diagnostic gets swallowed due to no parent set for the node, as it tries to walk up the chain to get the SourceFile.

The diagnostic looks like this:

![image](https://user-images.gi

[2020-11-23 02:32] Val-istar-Guo opened #78 "ttsc --watch not working when upgrade typescript-transform-paths to 2.0.3"
* "typescript-transform-paths": "^2.0.3"
* "ttypescript": "^1.5.12",
* "typescript": "^4.1.2",
* "typescript-nestjs-swagger-plugin": "^1.1.0",

[code]

Operating procedures:

- `ttsc --watch`
- change some ts file that be watched
- The error throw

https://github.com/cevek/ttypescript/issues/92

[2020-11-23 02:41] #39 closed

[2020-11-23 03:04] nonara commented on #78
Thanks for filing!

I was working on a similar issue today and was able to work out what's going on.

In your case, the short version is, the parent node isn't being set on our workaround node. There also doesn't seem to be a way that we can do it without messing up the output.

You can read more on that if you're interested in [this issue](https://github.com/LeDDGroup/typescript-transform-paths/i

[2020-11-23 11:05] jonathanj commented on #78
@nonara Just checking if this is different from #72? You commented on a few days ago indicating that the issue there is fixed, but my understanding of the two issues is that they are the same.

I'm experiencing the same issue above trying to use `typescript-transform-paths@2.0.4` on `typescript@4.1.2` with `ttypescript@1.5.12`, except I'm not specifying `--watch` I'm just trying to compile my TS p

[2020-11-23 11:12] jonathanj commented on #78
I tried adding the `afterDeclarations: true` to the transformer options, and now `ttsc` doesn't crash but it also doesn't transform the paths in the compiled JS output, only the paths in the TypeScript declaration files.

[code]

[code]

[2020-11-23 18:17] nonara commented on #78
@jonathanj It is different than #72, though somewhat related. It is a duplicate of #77

In v2.0.3, we were able to alleviate the issue for many cases, however, as these two issues have shown, there are still edge cases where it breaks.

Background:
- [Detail on the TS bug & our workaround](https://github.com/LeDDGroup/typescript-transform-paths/pull/76)
- [Detail on what's still breaking & where w

[2020-11-25 23:35] nonara opened #80 "Plugin uses module 'typescript' instead of the instance instantiating the plugin"
In cases where a custom instance of ts is used (one which differs from what resolves from require('typescript')), the plugin uses the local copy. This can cause various issues.

A transformer should always use the version passed to it by `ttypescript` or `ts-patch`

Note: I have this fixed and will be submitting a PR which closes this and other open issues shortly

[2020-11-27 01:49] #77 closed

[2020-11-27 01:49] #78 closed

[2020-11-27 01:49] #80 closed

[2020-11-27 02:03] nonara commented on #78
Just a heads up - this is fixed in v2.1.0. We implemented proper type elision. No more workarounds.

If interested, more detail can be found in #81

[2020-11-27 02:04] nonara commented on #77
Just a heads up - this is fixed in v2.1.0. We implemented proper type elision. No more workarounds.

If interested, more detail can be found in #81

[2020-11-27 02:05] nonara commented on #72
Just a heads up - I recommend upgrading to the latest v2.1.0. We implemented proper type elision. No more workarounds.

If interested, more detail can be found in #81

[2020-11-27 03:04] Val-istar-Guo commented on #78
@nonara  Thanks

[2020-12-03 06:11] Val-istar-Guo opened #82 "2.1.0 not replace path in .d.ts"
Original Code:

[code]

`typescript-transform-paths@2.0.1/2.0.4` is working:

[code]

`typescript-transform-paths@2.1.0/1.1.15` isn't working:

[code]

My `tsconfig.json`:

[code]

Test in `typescript@3` And `typescript@4`

The bug can only be found in `.d.ts`.

[2020-12-03 14:33] danielpza commented on #82
Hi @Val-istar-Guo, for transforming declaration files you'll need to add a new entry to your tsconfig.json:

[code]

It's weird that it worked without that entry once though :thinking:

[2020-12-03 23:46] nonara commented on #82
That is odd. Probably related to the direct node replacement method used during those versions. I added some clarification and corrected a typo on the readme that hopefully makes the directions more clear related to this.

[2020-12-03 23:46] #82 closed

[2020-12-04 02:48] Val-istar-Guo commented on #82
😂😂，Thanks，deceived by the behavior of `typescript-transform-paths@2.0.1/2.0.4`

[2020-12-08 11:12] dko-slapdash opened #83 "Idea: do not translate paths which start from some entry in node_modules"
Hi.

I'll try to explain the issue I'm facing...

In TS 4.x, they started addressing different monorepo related feature requests and issues. For instance, they implemented "IntelliSense auto-import mapping customization" which allows people to auto-import modules from other project's dist/ folders (not from their src/ folders) and thus dramatically improve the compilation speed (because the genera

[2020-12-08 18:11] nonara commented on #83
@dko-slapdash Thanks for the excellent level of detail in this! This is an interesting one...

I think the best route here would be an exclusion list. As a bonus, I could also add an option for a jsdoc tag to skip for a single statement. For your purpose, I think the exclusion list will suffice, but I can also see where a JSDoc tag or two for overriding might be useful. I'll have a look at this so

[2020-12-08 19:26] dko-slapdash commented on #83
Thanks!

Per-statement inclusion won't help us much, we have thousands of imports like that (from monorepo sub-projects). The key thing here is that, if we include from another monorepo projects, the rules are best to be the same as if we're including from just an npmjs module, although for TS/IntelliSense/VSCode purposes, monorepo sub-projects have to be addressed differently than regular package

[2021-01-04 05:34] nonara opened #87 "Import/export declarations improperly elided in certain cases"
Some import and export declarations get improperly elided.

Example:

[code]

The elision logic should be updated to only process if named bindings are present in the import / export clause

[2021-01-04 21:53] #83 closed

[2021-01-04 21:53] #87 closed

[2021-01-04 22:03] nonara commented on #83
This should be solvable via the `exclude` option. See readme for details

[2021-01-05 16:26] hungtcs opened #89 "If the file extension is `js` then it should be kept"
### Reason
This will break the compatibility of esmodule, and inconsistent with `tsc`

### Version
- typescript: 4.1.3
- typescript-transform-paths: 2.2.0

### Steps to reproduce
There are 4 files in total：
[code]
[code]
[code]
[code]

##### The output js without `typescript-transform-paths`
![image](https://user-images.githubusercontent.com/11692935/103671192-8b51c980-4fb5-11eb-9ef1-999324744cd8.

[2021-01-05 22:37] nonara commented on #89
Thanks for the report.

Seems that the best solution here would be to preserve extension if it's explicitly added in the original source. I'll try to get a fix out shortly.

[2021-01-10 01:59] ksnyde opened #90 "Typings fails during "afterDeclarations" transform"
I have code which compiles without issue using `tsc` and used to work fine with `ttsc` and in Rollup with the `ttypscript` replacement and using the "typescript-transform-paths" plugin.

For context, my `tsconfig.json` file is:

[code]

This same repo and **tsconfig** used to compile but after updating a number of requirements (including Typescript to 4.1.3) it now fails with:

[code]

I have gone

[2021-01-10 02:02] ksnyde commented on #90
Though somewhat redundant, let me restate what my plugin/transform logic has been to get things to work:

## Previously
[code]

If I adjust and take out the `afterDeclaration`:

## Adjusted
[code]

It successfully transpiles but does not transform the path aliases in the _types_ which makes it close to useless.

[2021-01-10 02:03] ksnyde commented on #90
This project is open source and this experience can be easily reproduced by cloning: https://github.com/forest-fire/vuex-plugin-firemodel and using the @develop branch.

Build command is `yarn build` for the Rollup build process and `yarn build:tsc` for the **ttsc** build.

[2021-01-10 02:17] nonara commented on #90
Thanks for the report. Can you please share what version of the plugin you're using?

[2021-01-10 20:52] #89 closed

[2021-01-10 20:52] #90 closed

[2021-01-10 20:54] nonara commented on #89
Sorted in v2.2.1

[2021-01-10 20:54] nonara commented on #90
Sorted in v2.2.1

[2021-01-11 03:58] hungtcs commented on #89
The following are my test results.

### Version
- typescript: 4.1.3
- typescript-transform-paths: 2.2.1

### Steps to reproduce
[code]

[code]

[code]

[code]

Next is js codes from tsc and ttsc respectively:

[code]

[code]

------------------

Commit 15feb70 only working without paths config
[code]

thanks.

[2021-01-11 05:02] nonara commented on #89
Good catch. Looks like I forgot to account for interchangeability between js/ts extensions. I should have read the issue more carefully! 😄

I corrected and narrowed the logic to apply to explicit `.js` and `.jsx` extensions. I believe that this should be broad enough. The only other possible related issue is that it will still strip an explicit `.json` extension, but I don't think that would break

[2021-01-11 11:57] hungtcs commented on #89
@nonara Thank you for the quick resolution, [v2.2.2](https://github.com/LeDDGroup/typescript-transform-paths/releases/tag/v2.2.2) passed my test case perfectly.

[2021-01-13 21:22] ksnyde commented on #90
yay!

[2021-01-23 03:31] rhyek opened #94 "does this work with ts project references where each project has their own path mappings?"
Basically, the question. Node-level solutions I've seen (tsconfig-paths, module-alias) only work on the current project, but not referenced ones that are transitively compiled using `tsc --build`.

For reference:
https://www.typescriptlang.org/docs/handbook/project-references.html

[2021-01-25 01:23] rhyek commented on #94
It does indeed cevek/ttypescript#28.

Wonderful!

[2021-01-25 01:23] #94 closed

[2021-01-27 09:55] EmCeeEs opened #95 "Error in resolving json module"
**Description**
Using `"resolveJsonModule": true` in `tsconfig.json`  results in import error after compilation.
The reason is that the `.json` extension is removed.

**Expected Behavior**
`import data from  './src/data.json'` => `import data from  './src/data.json'`
`import data from '@src/data.json'` => `import data from './src/data.json'`

**Actual Behavior**
`import data from './src/data.json'

[2021-01-27 09:56] EmCeeEs commented on #95
Quick fix by using `@no-transform-path` tag

[2021-01-27 23:01] nonara commented on #95
Thanks for the report!

@danielpza The logic for removing the `json` extension was a bit before my time. I don't want to remove it altogether without knowing the full context. Do you have any insight on why it was put in and if it used to work with TS?

[2021-01-28 03:40] danielpza commented on #95
I think it was for resolving json files without the .json extension, like require('./file') would require './file.json'. I'm not sure how valid is that tbh.

[2021-01-28 04:29] nonara commented on #95
Ok. I'll have a look over the require specs and compiler and see. I'm not sure about that either.

@EmCeeEs I'm out for the rest of this week but will try to get it wrapped next week! In the mean time you can use the `@transform-path` tag to manually transform.

[2021-02-01 00:16] nonara commented on #95
### Update

I had a look at it. I think the potential issues here are broader than even the `json` case. In general, we should not be adding or removing file extensions from how they are specified in the source.

I'm going to change the logic for removing extensions to essentially mirror the input format. That should cover this as well as any other potential issues. I expect to have this wrapped u

[2021-02-02 22:59] #95 closed

[2021-02-02 23:08] nonara commented on #95
Fixed in v2.2.3

[2021-03-15 20:14] jacobbogers commented on #90
I am using 2.2.3 and i have he EXACT same issue as @ksnyde did previously

[2021-03-15 20:18] jacobbogers commented on #90
I reverted back to v2.2.1 , and it is now working for me, v2.2.3 has this bug again

[2021-03-15 20:20] jacobbogers opened #97 "v2.2.3 fails to rewrite alias path in decleration file, reverted back to v2.2.1"
snippet from tsconfig.json file
[code]

replacing path aliases in decleration files does not work in (current) version 2.2.3 (i reverted back to 2.2.1 and it works with this version)

[2021-03-16 00:58] ksnyde commented on #90
Sad to hear this has regressed. I really need this to work so I can alias the hell out of my source code with reckless abandon.

[2021-03-16 20:02] jacobbogers commented on #97
Oh in v 2.2.1 ... these 2 things are mutually exclusive, you cannot emit BOTH js and d.ts files with "transpile" paths aliases
- Either you transpile paths in in emitted js files ` { "transform": "typescript-transform-paths" }` OR you transpile path aliases in *.d.ts files ` { "transform": "typescript-transform-paths", "afterDeclarations": true }`

but not both at the same time

[2021-03-17 19:29] nonara commented on #90
@jacobbogers Please paste the full error message and stack.

It isn't possible to be getting the exact same error, as the portion of code in @ksnyde's stack is wrapped with `try .. catch` now. Beyond that, there isn't a code regression.

However, I am seeing that typescript 4.2.x is failing tests, indicating that they may have changed some logic, possibly to do with resolution. I'm looking into it

[2021-03-17 19:40] nonara commented on #90
@ksnyde Can you confirm that this isn't working for you with v2.2.3?

[2021-03-17 19:54] nonara commented on #97
Thanks for reporting the issue, Jacob!

Unfortunately, I'm not able to reproduce this. I have no issue emitting both, and we have fairly comprehensive testing which covers that scenario as well as others. I've also looked at the difference between the versions, and I'm not seeing anything which could cause the sort of difference you've mentioned between the two versions.

I'm going to need a repro

[2021-03-18 09:06] jacobbogers commented on #97
@nonara, let me create an example

[2021-03-18 19:32] jacobbogers commented on #97
Hi,
I am using the master branch (as of this writing) of https://github.com/jacobbogers/libRmath.js

## Here are the steps for reproduction

Here is a reproduction, first let me show you the version numbers:

from `package.json`:

[code]

from `node_modules/typescript-transform-path/package.json`

[code]

tsconfig.json
[code]

I am using the `tsconfig-commonjs.json` which extends the `tsconfig.jso

[2021-03-19 11:30] jacobbogers commented on #97
Was my previous post in any way helpfull?
Cheers

[2021-03-19 19:31] jacobbogers commented on #90
@nanora Hi, I provided steps in https://github.com/LeDDGroup/typescript-transform-paths/issues/97  to fully reproduce this issue,
I am not getting error messages at all, it is just the emitted files that contain non-translated path aliases

[2021-03-19 19:51] ksnyde commented on #90
@nonara I can give it a try ... give me a moment.

[2021-03-19 20:11] ksnyde commented on #90
For me ... all paths lead to success. @jacobbogers can you try re-diagnosing?

<img width="1203" alt="image" src="https://user-images.githubusercontent.com/980757/111836975-6b435e00-88b4-11eb-83e4-3dd307f7d36d.png">

[2021-03-19 20:18] jacobbogers commented on #90
@ksnyde I provided full steps in detail with output, (including a repo where it all is prepared, and configured)
https://github.com/LeDDGroup/typescript-transform-paths/issues/97
It only takes one command to build, (after you can verify I am using the correct versions, (I also posted snippets from package.json and tsconfig)
Could you please use the example I provided to reproduce? thanks

[2021-03-19 20:46] jacobbogers commented on #90
Lets continue conversation under https://github.com/LeDDGroup/typescript-transform-paths/issues/97

[2021-03-19 21:42] nonara commented on #97
GH didn't send me an email on this, so I didn't see it until now.

It looks to me like you're not added both lines to the config file. If you want to translate for _both_ js and types, you need two entries in plugins. A little annoying, but that's how ttypescript is built.

ie:

[code]

If that's not the problem, please paste your full tsconfig file.

[2021-03-19 21:45] nonara commented on #90
@ksnyde Thanks for confirming!

[2021-03-20 14:09] jacobbogers commented on #97
@nanora, superthanks, it works now, with the added line,
I thought that `{ "transform": "typescript-transform-paths", "afterDeclarations": true }` was a superset of the first line (because of the extra `afterDeclerations`)  Thanks for explaining to me about the seperate transform cycles.

Super

[2021-03-20 16:58] nonara commented on #97
No problem. Glad it's working for you! Take care.

[2021-03-20 16:58] #97 closed

[2021-04-08 10:16] viT-1 commented on #34
@nonara  No, v2 not helped me to have correct resolved modules.
After using new version of plugin I had to [correct paths manually](https://github.com/viT-1/systemjs-ts-es6/commit/6f3beb0f747b0c6b4399a209effa11c4697460c9) from index/index.js to index.js

After changing my gulp code I need to [set extensions still](https://github.com/viT-1/systemjs-ts-es6/commit/c2a2e57ca746798c76405ff57f5ce13f26f7

[2021-04-08 15:43] viT-1 commented on #34
Extensions of js files it is not typescript-transform-paths issue, ok.

[2021-04-22 13:13] Vasile-Peste opened #99 "Thanks"
Sorry but I open this issue just to say: thanks for your work and this package.

[2021-04-22 13:24] nonara commented on #99
We appreciate the kind words!! Glad it's helpful!

[2021-04-22 13:24] #99 closed

[2021-04-23 18:58] jnardone opened #100 "Any way to catch/transform `jest.mock(<library>)` calls?"
In Jest, you can mock an entire module with something like

`jest.mock('../../path/to/code');`

However, unlike my import statements, the transformer here doesn't recognize these nor transform them.

It would be really great if it did.  Then I wouldn't have to separately manipulate paths via Jest's aliases and just use the transpiled code everywhere; I can trigger this transformation as part of ts

[2021-04-23 20:12] nonara commented on #100
Great suggestion. I will implement this with an option to enable in plugin config. Until the next major version, the option will be false, by default.

I'll let you know when it's added.

[2021-04-27 22:21] nonara commented on #100
In thinking this through a bit more, I recognize that this goes a bit beyond the scope of what we're doing. I had forgotten that jest maintains its own separate path aliases configuration. As a result, it would complicate things and give rise to many different issues being reported from people who expected it to work in certain ways (ie. when being run with ts-node, working with jest's aliases, et

[2021-04-27 22:21] #100 closed

[2021-05-10 18:15] emmkimme opened #103 "outDir is not taking into account"
Hi

likely my mistake, but I did not get it to work.

I have the following configuration (just keep relevant fields)
[code]
I have the following file:
../../src/eikon-framework/src/auth/auth-impl.ts
`import { GetElectronEnvironment } from 'df-core/env';`

after the compilation in the outDir folder I have
[outDir]/eikon-framework/auth/auth-impl.js
`const env_1 = require("../../../products/workspace

[2021-05-11 00:35] danielpza commented on #103
Perhaps the [virtual directories](https://github.com/LeDDGroup/typescript-transform-paths#virtual-directories) would help in this case

[2021-05-11 10:09] emmkimme commented on #103
Looking at your implementation and debugging the plugin, I found a way to deal with rootDirs.
[code]
I'm wondering if we could have another way just using 'paths', 'rootDir' and 'outDir' to achieve the same. I have the feeling to duplicate the information.

Feel free to close this issue. and thanks for your help and this plugin.

[2021-05-12 07:06] emmkimme opened #105 "Implicit indexes are being written to output paths"
Hi,

plugin is used to append 'index' to the module path of a require/import.
Adding 'index' to the path prevents browserify to work properly.

For instance, we have a local package **module1** with such package.json
[code]

I have a module **module2** using **module1**
[code]

I remap **module1** location to another path in '**module2** tsconfig.json
[code]

I compile and get
[code]

Browserify d

[2021-05-12 09:54] emmkimme commented on #105
I did this ugly fix directly in the \utils\resolve-path-update-node.js

[code]

[2021-05-12 13:08] emmkimme commented on #105
I did this ugly fix in \utils\resolve-path-update-node.js

[code]

[2021-05-20 22:13] nonara commented on #103
@emmkimme I'd like to have a look into this. Would you mind making a reproduction repo / branch for me to try it? I'm not entirely sure I see what's happening here, but it looks like an issue of tsconfig being in a totally separate location from the source files. You might be right that this shouldn't be the standard behaviour. I'd need an example to see what's going on, though.

[2021-05-20 23:09] #105 closed

[2021-05-20 23:16] nonara commented on #105
Thanks for the report! Fixed in v2.2.4

Let me know if you can get me a basic repro for the other issue, and I'll have a look. My guess is you only need a similar project directory structure with two or three example files.

[2021-05-21 08:22] emmkimme commented on #105
If you refer to the outdir issue, project is quite complex and have to manage legacy structures. No promise but will try to provide a a sample. And thanks a lot for the prompt fix !.

[2021-05-21 19:12] nonara commented on #105
@emmkimme If it helps, I don't think the code is part of the issue. Probably can reproduce with the same relative source dir, project (tsconfig) dir, and output dir file structure.

[2021-05-25 06:21] emmkimme commented on #105
Hi,
I did not check but we may face an issue when the module behind is not exporting a default index.js but a specific file.
It is very common to have a package.json with such declaration:
[code]
}
when doing an require('mylib'), Typescript will return mylib/lib/main.js (and not index.js), so your code may fail.
I would suggest to find a way to stick to the original declaration perhaps doing the t

[2021-05-31 08:24] kainstar commented on #103
I have same problem, I think the reason is transform plugin resolve relative path form source file rather than this output file, but sometimes we will emit files into the different level dir, that's why the final relative path is wrong.

I see this issue has tagged `Bug` label, is there has someone trying to solve it?

[2021-05-31 13:47] viT-1 opened #106 "v2.2.4 can't resolve default pathname with index.js like v2.2.3 can"
[My repo](https://github.com/viT-1/systemjs-ts-es6-vue/tree/018cfb5c50a936521d3438cf940b064666eafadb) for testing case
with `npm run deploy.dev` v2.2.3 resolves imports in `dist/main.js` as
`import { GreeterUse } from "./common.blocks/GreeterUse/index.js";`
but v2.2.4 as
`import { GreeterUse } from "./common.blocks/GreeterUse.js";`

[2021-06-02 18:52] viT-1 commented on #31
May be this functionality configured as parameter 'imports', using separate file importmap.json?
For example:
tsconfig.son
[code]

importmap.json
[code]

[2021-06-02 18:57] viT-1 commented on #31
Related [project](https://github.com/WICG/import-maps)

[2021-06-03 01:24] nonara commented on #31
@viT-1 Thanks for the suggestion! I believe that functionality goes a bit beyond the scope of what we're doing, however.

Our aim with this plugin is to rewrite imports using the `tsconfig.json` `paths` configuration. We rely on the TS compiler API to hand off that resolution to the typescript compiler to ensure that we're in sync.

We have gone a little beyond that directive by providing for sing

[2021-06-03 19:09] viT-1 commented on #31
@nonara I agree. I've found [transformer](https://github.com/Jack-Works/ttypescript-browser-like-import-transformer/issues/30) with functionality of interest.

[2021-06-08 21:30] couellet commented on #103
I'm having a similar issue, here's my `tsconfig.json` file:

[code]

I just added `rootDirs` and `rootDir`, but it didn't change anything. I have the following file tree:

[code]

So my compiled files are in the `dist` folder but it seems that the transformer doesn't run on these, paths remain absolute.

[2021-06-08 21:40] danielpza commented on #103
@couellet I think you need 2 entries in the plugin section for the transformer to actually work:

https://github.com/LeDDGroup/typescript-transform-paths#example-config

[code]

[2021-06-08 21:45] couellet commented on #103
@danielpza that was it! Thank you so much.

[2021-06-08 21:51] nonara commented on #103
I will, but I need a reproduction

[2021-06-11 22:43] nonara opened #107 "May fail with symlinks"
In looking into TS compiler's resolver code, I have discovered an internal property called `originalPath` in the `ResolvedModuleFull` type returned by the `resolveModuleName` API function. This is the function we rely on to get our resolved path for output.

Looking further into the code, it seems that the `originalPath` value is set when the `compilerOptions.preserveSymlinks` option is `false` in

[2021-06-11 22:51] nonara opened #108 "Output paths for modules too long if `main` or `types` is set in package.json"
If we require from a sub-package, the output path will unnecessarily specify the full source path if it is specified in `main` or `types` in the `package.json`

Given:

*./packages/pkg-a/package.json*
[code]

With mapping: `"@packages/*": "./packages/*"`

`@packages/pkg-a` will resolve to `./packages/pkg-a/subdir/main`

Preferably, it should simply resolve to `./packages/pkg-a`

This would not be

[2021-06-15 18:55] nonara opened #109 "Accommodate missing baseUrl"
Modern typescript allows for no `baseUrl`. Need to update code to accommodate for this change.

[2021-06-16 19:15] nonara opened #110 "Don't overwrite unnecessary nodes"
Presently, the plugin resolves for every import, require, etc. call / statement, and it overwrites all of them — irrespective of there being an actual *need* to overwrite them.

By changing this to only process nodes which are matched by `paths` or explicitly tagged, we can make the process faster, more efficient, and ultimately reduce bug report volume.

While the latter point is not necessarily

[2021-06-16 20:35] #106 closed

[2021-06-16 20:35] #109 closed

[2021-06-16 20:35] #110 closed

[2021-06-16 20:53] nonara commented on #106
Thanks for the report, and sorry about the issue!

Please give v3.0 a try and let me know if you have any issues.

[2021-06-16 20:54] nonara commented on #105
You were right about custom index files. Thanks again. Should be sorted in v3.0

[2021-06-16 20:54] #108 closed

[2021-06-16 20:54] #107 closed

[2021-06-16 20:54] nonara commented on #107
Sorted in v3.0

[2021-06-16 20:55] nonara commented on #108
Sorted in v3.0

[2021-06-16 20:56] nonara commented on #103
Ok, all. I looked deeper into this and you were correct on it not resolving from `outDir`. Please give v3.0 a try and let me know if you have any issues. It should be sorted!

[2021-06-16 20:56] #103 closed

[2021-06-23 16:59] mikearnaldi opened #114 "V3 doesn't rewrite imports"
when upgrading to v3 in https://github.com/Effect-TS/core I noticed modules are no longer replaced, we use typescript-transform-paths for our test suite and all the tests were failing for "module not found".

debugging manually shows the following:

V3:

![V3-BUG](https://user-images.githubusercontent.com/24249610/123137769-3cf19380-d44c-11eb-87f7-0a1a1bfc2505.png)

V2:

![V2-OK](https://user-imag

[2021-06-28 07:11] dko-slapdash opened #115 "Performance is slow in at least TS 4.3"
Hi.

The configuration looks like this:

![image](https://user-images.githubusercontent.com/46383452/123582337-77cc3200-d792-11eb-9816-84bf6a0d4051.png)

The number of *.ts files is:

[code]

- without the plugin:
[code]

- with the plugin:
[code]

As well as typescript-transform-paths v3.0.0, this also applies to v1.1.15 BTW (the compilation takes 144.50s) - it slows the compilation down signific

[2021-06-28 15:18] nonara commented on #115
Does the issue apply to v2 of the plugin as well?

Also, is this specific to TS v4.3 or does it apply with older versions also?

[2021-06-28 16:41] nonara commented on #114
Interesting! Looks like it may be connected to extended config files. Having a look into this now

[2021-06-28 18:11] nonara commented on #114
So this is related to a breaking change in the `matchPatternOrExact` function. More specifically, it looks like they added caching to the paths pattern parsing to speed things up.

Relevant commit: https://github.com/microsoft/TypeScript/commit/3ffa245f07c4472ed3015fcb59ea0d2d73432102

I'm hesitant to fix this now, as this is only in dev builds and is not in an official release yet. But, I see tha

[2021-06-28 18:48] #114 closed

[2021-06-28 19:02] nonara commented on #115
@dko-slapdash Please provide a repo with a single project containing 1000+ source files, and I'll do some perf investigation

[2021-06-28 19:38] martinmckenna opened #117 "Can't Get v2 or v3 Working"
Repro case: https://github.com/martinmckenna/base-ts-module/tree/test (`test` branch only)

1. Run `yarn && yarn tsc` in the project
2. View `/dist/index.d.ts` and `src/index.ts` to see both have aliased imports

My `tsconfig.json`

[code]

Seems like I'm missing something. I'm only outputting type declaration files and nothing is working

### Versions

Tried multiple different v2 versions and v3.

[2021-06-28 19:44] martinmckenna commented on #117
nvm didn't realize you had to use `yarn ttsc`

[2021-06-28 19:44] #117 closed

[2021-06-28 20:00] mikearnaldi opened #118 "v3.0.1 raises an error"
After #114 fixes the following presents:

[code]

same repo as the previous issue for repro

[2021-06-28 20:12] nonara commented on #118
Is the output correct?

[2021-06-28 21:12] nonara commented on #118
Looking into this. This plugin is primarily used for rewriting actual tsc output files. It looks like you're using it within jest, which uses a hosted version of typescript and applies some other magic, so results can't be guaranteed.

In this case, it looks like the actual typescript compiler API function `getOutputFileNames` is failing to resolve them because the files in question aren't directl

[2021-06-28 22:43] nonara opened #119 "Inability to resolve from resolveModuleName elides node"
`resolvePathAndUpdateNode` utility accidentally causes full node elision instead of simply not transforming if `resolveModuleName` cannot resolve properly.

[2021-06-28 23:54] nonara commented on #118
I've implemented an alternate pathway in the compiler API to resolve. It should have broader coverage, and I believe it should work in your case.

However, I keep getting `Cannot find module '@effect-ts/core/Tracing' from ...`. This seems to apply with v2.2.4 as well. I ran a full build, so I'm not sure why it's happening.

If you get a chance, please let me know if https://github.com/LeDDGroup/ty

[2021-06-29 01:25] dko-slapdash commented on #115
The repo we're working on is proprietary, so I can't share it unfortunately.

[2021-06-29 02:16] nonara commented on #115
Got it. The code on our side is pretty well optimized for performance. If you're seeing the same result with v1, then I'm especially inclined to believe that it's just general transformer/visitor lag or something in the API calls.

The reason for this is the code from v1 to v2-3 is entirely rewritten and uses different logic, entirely.

But I'd still like to have a look. I'm incredibly swamped, th

[2021-06-29 11:08] mikearnaldi commented on #118
I'll test #120 this evening, what I can say is that I have been using the v2 for a long time and it always worked also within jest. Like the rest of compiler plugins (never seen one where jest generates the issue)

[2021-06-29 21:15] nonara commented on #118
I appreciate that. I'll publish after I hear back.

[2021-06-30 04:25] mikearnaldi commented on #118
Looks like #120 works partially, it does resolve modules that are present in the original source file but not modules added by other plugins that run before.

Using the following branch: https://github.com/Effect-TS/core/tree/repro-for-ts-path-transform
In the project root: `yarn && yarn ttsc -p tsconfig.debug.json`

This will build the file `scripts/jest-setup-after-env.ts` that has the following

[2021-06-30 19:21] nonara commented on #118
Ok. Got it working. A couple points...

**1. Thanks for the excellent repro!**

Made it very easy to track out. My compliments also on your project structure. Nice work!

**2. You're definitely doing some wild stuff with transformers!**

I can certainly respect that, though, as I'm doing the same in a few of my projects (generated source files, etc)

In this case, the culprit was inserting an impo

[2021-06-30 21:52] mikearnaldi commented on #118
1. Happy to know it was helpful, I also maintain oss libs and I know very well the importance of good repros for issues. Also your project has been of immense help to me and I do use it in prod in many places :)

2. You can say that out loud, it is by all means not a standard setup and up to v3 this was the only project that didn't crash with AST nodes created from previous plugins.

3. Yep I know

[2021-07-01 17:31] #119 closed

[2021-07-01 17:39] nonara commented on #118
Fixed in v3.0.2

[2021-07-01 17:39] #118 closed

[2021-07-02 01:13] osyrisrblx opened #121 "Package imports are incorrect in 3.0.x"
## Input
[code]

## Before `3.0.x` (Expected)
[code]

## After `3.0.x` (Incorrect)
[code]

---

This seems to happen for every npm import for me and prevents me from using `3.0.x`.

[code]

[2021-07-02 01:16] osyrisrblx commented on #121
Okay, my bad. Removing the `"paths": { "*": ["*"] },` fixes the issue. I remember this being necessary(?) on a previous version for baseUrl to work.

[2021-07-02 01:16] #121 closed

[2021-07-03 05:59] hans000 opened #122 "can't surpport Module Augmentation feature"
[Module Augmentation](https://www.typescriptlang.org/docs/handbook/declaration-merging.html#module-augmentation)

for example
[code]

[2021-07-07 01:30] nonara commented on #122
Great suggestion! I didn't realize that these were resolved in the same way as imports / exports.

Shouldn't be hard to implement. Added to my queue.

[2021-07-13 19:43] #122 closed

[2021-07-13 19:48] nonara commented on #122
Added in v3.1.0.

[2021-07-14 22:14] jasonkuhrt opened #123 "Feature: Support ts-node transpileOnly"
This issue is a port from https://github.com/cevek/ttypescript/issues/123#issuecomment-879443563.

## Maintainer's Note

The request is to support the transformer without needing a `Program` / `EmitHost`. Investigation needs to be done to see if this is feasible.

[2021-07-26 04:16] nonara commented on #123
Quick update - hoping to look at this this coming weekend.

[2021-07-29 19:11] igisev opened #124 "Support tsc --watch"
Compilation crashes in `--watch` mode.

Now your transformer code contains the following code:
[code]

This will make it cleaner.
Note that `updateImportDeclaration` and `updateExportDeclaration` have different parameters:
[code]

[2021-07-30 05:30] nonara commented on #124
Thanks for the report! Looks like you're using an old version. That portion of code has been updated. Please try with the latest, and let me know if you have any issues.

[2021-07-30 08:15] zyf0330 opened #125 "This util doesn't work in this project"
Hello, I find that this transformer doesn't work in one scene. I create a demo repo https://github.com/zyf0330/transform-paths-demo/tree/main, just follows README.

[2021-07-30 08:43] igisev commented on #124
Sorry, I wanted to create an issue for [typescript-transform-extensions](https://github.com/anthonynichols/typescript-transform-extensions) )

[2021-07-30 08:43] #124 closed

[2021-07-31 23:56] nonara commented on #125
Unfortunately, I'm unable to reproduce that using your project.

Here are the steps I took:

[code]

This is the compiled result (from index2.js):

[code]

I recommend erasing `node_modules` and reinstalling. Then, check that typescript is patched via `ts-patch check`.

If it still does not work and you have new steps which can reproduce the problem, please let me know, and I'll have a look.

[2021-08-02 01:49] zyf0330 commented on #125
`const src1 = __importStar(require("../../../built/packages/a/src/index1"));` shows that src1 is requiring from wrong path. Just run it with node, you can see.
The correct path is `require('../../a/src/index1.js')`

[2021-08-03 19:37] nonara opened #126 "Custom control jsdoc tags not working in 3.6.5"
There is an issue with TS 3.6.5 (and possibly beyond), which causes JSDoc comment tags to be parsed incorrectly (delimiting by hyphens), which leads to the tags not working.

[code]

In the above example, Some older versions of TS would parse this as:
[code]

Because we support 3.6.5, we need to implement code to account for this potential issue.

[2021-08-03 20:10] #123 closed

[2021-08-03 20:10] #126 closed

[2021-08-03 21:04] nonara commented on #125
Ah I see. Sorry about that, I thought you meant it didn't transform at all. I will try to take a closer look this weekend.

[2021-08-03 21:07] nonara commented on #123
Added in v3.2.0

[2021-08-03 21:42] nonara opened #128 "Feature: Automatic releases"
## Edit

Proposal is to automatically create a GH release based on `standard-version` changelog. I tried with one action package that was written in Ruby, but it fails.

I intend to write a new GH action at some point, and when/if I do, I will implement into this package

[2021-08-03 23:00] nonara commented on #123
I recognize that the steps could be easier, so I'm going to add a register script to simplify it.

Ultimately, it should be able to work with: `node -r typescript-transform-paths/register`.

Check back after next weekend

[2021-08-03 23:02] nonara opened #129 "Feature: Add register script"
Simplify ts-node usage via ability to do: `node -r typescript-transform-paths/register`

This would also allow the transformer to work without tts / ts-patch

[2021-08-04 21:49] osyrisrblx opened #130 "`Error: Cannot find module 'ts-node'`"
Hi,

I got a dependabot PR to update `typescript-transform-paths` for my repository. It looks like it's trying to require `ts-node`, but I do not use that in my project, I use ttypescript.

https://github.com/roblox-ts/roblox-ts/pull/1546/checks?check_run_id=3238321112#step:6:16

[2021-08-05 00:54] #130 closed

[2021-08-05 00:59] nonara commented on #130
This threw me for a second. The require is wrapped in `try ... catch`. Looks like a type import slipped through to import the full const. Should be fixed in v3.2.1

Thanks for letting me know!

[2021-08-05 19:38] stephenh opened #132 "src import no longer working"
We'd been on 2.0.1 for awhile, and been using an import:

[code]

From a file `src/Button.tsx` with a `tsconfig` of:

[code]

Was getting correct/working output of:

[code]

However, trying out `3.2.1` we're seeing this import being left as-is:

[code]

FWIW it looks like version `2.2.4` rewrites this to:

[code]

Which I would believe would work. And `3.0.0` is what introduces the `require("src")

[2021-08-05 21:23] nonara commented on #132
Hi Stephen! Thanks for the report. I'm going to explain what's going on, but feel free to skip to the TLDR for the solution.

Your issue actually relates to how typescript handles path mapping. In v3+, we tightened things up a bit to ensure that we're only transforming nodes which TypeScript recognizes as being a mapped path (via the compiler API) or one that is explicitly tagged with `@transform-

[2021-08-05 21:23] #132 closed

[2021-08-05 22:07] stephenh commented on #132
Shoot! I did mean that! :-)

Thanks for the great response! That makes a lot of sense.

[2021-08-09 14:22] jasonkuhrt commented on #123
Seems to be working! But my IDE doesn't see the package as importable right now 🤔

<img width="931" alt="CleanShot 2021-08-09 at 10 21 34@2x" src="https://user-images.githubusercontent.com/284476/128721988-5c0ae447-4e3b-4814-b4eb-eea99ae15df6.png">

Sounds good 👍

[2021-08-09 18:22] danielpza commented on #128
Hi @nonara sorry for the late response, I'll take a look asap.

[2021-08-09 18:57] danielpza commented on #128
Hello @nonara, I'm not really sure what's needed, I was taking a look at the docs and https://github.blog/changelog/2021-04-20-github-actions-control-permissions-for-github_token/ states:

so the `GITHUB_TOKEN` variable should already be defined for the actions automatically?
Please point me to the relevant documentation if that's not the case so I can learn more about it.

[2021-08-09 23:10] nonara commented on #128
@danielpza Ah, interesting! I'm fairly positive that you used to need to generate one and store it in the repo secrets. It's been awhile since I've set one up, but I believe the last time I did pre-dates that changelog. Maybe the auto-generation is a new feature... Or maybe my memory is just slipping 😂 Anyway, thanks for checking into it!

Unfortunately, the action I found seems to fail. The logic

[2021-08-10 19:39] nonara commented on #123
Whoops! Didn't realize we didn't already have the types exported. That should be corrected now.

As for the register script, it's done and ready to go in v3.3.0! Have a look at the latest readme for how-to. Hopefully it's clear and fits people's uses cases. I don't generally use ts-node, but I think we've covered how people want to use it.

[2021-08-10 19:42] #129 closed

[2021-08-10 19:42] nonara commented on #129
Complete in v3.3.0

[2021-08-11 00:06] jasonkuhrt commented on #123
@nonara just fyi its not published on npm yet https://www.npmjs.com/package/typescript-transform-paths

[2021-08-11 00:20] nonara commented on #123
@jasonkuhrt GitHub is having some server issues today. Publish action is still sitting in queue after several failures earlier, Just published manually, so it should be available now.

[2021-08-16 18:53] #125 closed

[2021-08-16 22:13] #128 closed

[2021-08-16 22:15] nonara commented on #125
Ok, sorry for the delay on this one. Thanks again for bringing it to my attention!

Turns out the plugin wasn't playing well with project references. The problem happened when the referenced file was outside of the current project. Weird stuff to do with how TypeScript handles resolution paths. Should be sorted out now in `v3.3.1`!

[2021-08-21 05:38] bhvngt opened #134 "[Bug] Not working with ESM modules"
I am trying this out with my `esm` module with following configuration

#### **`tsconfig.tsnode.json`**
[code]
#### **`package.json`**
[code]
#### **`b.ts`**
[code]
#### **`a.ts`**
[code]

`TS_NODE_PROJECT=tsconfig.tsnode.json node --loader ts-node/esm --es-module-specifier-resolution=node src/a.ts` throws
[code]

if I change import in `a.ts` to relative path `import {b} from "./b"`, it works with

[2021-08-21 21:23] nonara commented on #134
Thanks for the report! I had a look at the `ts-node` source, and I think I know what's going on. Will be looking into it.

[2021-08-22 14:39] bhvngt commented on #134
Thanks @nonara. That was really quick. Appreciate your help.

[2021-09-17 23:17] jacobbogers opened #136 "ERR_UNSUPPORTED_DIR_IMPORT for directory import"
Hello,

Example: this (transpiled) code loads the index.js file
[code]

If i try to use this in an es6 fashion I will get  **`ERR_UNSUPPORTED_DIR_IMPORT`**  Because it is not possible in the esm standard to do directory imports,  it has to be fully specified  `import { some_function } from '../siblingdir/index.js`

I wonder if there is an options where it detects:
- if it is a directory, add an /i

[2021-09-18 04:00] jacobbogers commented on #136
https://nodejs.org/api/esm.html#esm_mandatory_file_extensions

### Mandatory file extensions

**A file extension must be provided when using the import keyword** to resolve relative or absolute specifiers. Directory indexes (e.g. './startup/index.js') must also be fully specified.

This behavior matches how import behaves in browser environments, assuming a typically configured server.

[2021-09-18 04:00] nonara commented on #136
No option at the moment. Would be pretty easy to implement, though. I'd be open to a PR as a `useExplicitIndexes` option.

I was also considering adding `useExplicitExtensions`. Another esm reconciliation feature.

Like I said, PR welcome! Otherwise I may add it when I have some time.

[2021-09-18 04:04] jacobbogers commented on #136
I found a "how to build an plugin" doc, I am reading it

[2021-09-18 04:04] nonara commented on #136
Yep. That's the reason for the second option. Esm is a pain 😄

[2021-09-18 04:08] nonara commented on #136
Eh. It should be pretty easy on both fronts, and there don't seem to be any good solutions out there for this in esm.

I'll try to knock these out tomorrow.

[2021-09-18 19:45] jacobbogers commented on #136
How is it going?

[2021-09-18 19:55] nonara commented on #136
Finished. Just working on integrating with tests. I opted for adding a config property: `outputMode` which is either `commonjs` | `esm`. When not specified, it's `commonjs` by default.

Behaviour is to add explicit extension and index if in `esm` mode. And, for declaration file output, `outputMode` will always set itself to `commonjs`, as I do not believe `.d.ts` has an esm-specific difference. Do

[2021-09-18 21:17] jacobbogers commented on #136
Super thank you,

About your question:

Honestly I do not know this,  I dont think `*.d.ts` file have any knowledge about `esm` or `commonjs`

What about the `*.d.ts.map` files? Are they generated after all "transpilations" runs? (I think so, but I ask just to make sure)

[2021-09-18 23:29] nonara commented on #136
No problem!

Documentations indicates that TS uses their own "ES-like" syntax for modules, so I think we're covered. As for map files, those should be generated post-transform.

Waiting 'til tomorrow on [another PR](https://github.com/TypeStrong/ts-node/pull/1439) to do an official release, but I've published an alpha. Would you mind checking if it works for you?

[code]

[2021-09-18 23:30] jacobbogers commented on #136
Yes,I am checking it right now

[2021-09-18 23:43] jacobbogers commented on #136
Maybe I am doing something wrong, but It did not work for me

In my `node_modules` I have installed the correct verison
[code]

My `tsconfig.json` looks like so:
[code]

But the transpiled code not showing explicit `.js` or `/index.js` additions in the path

[code]

Maybe I am configuring it incorrectly, I do not know for sure.

[2021-09-18 23:51] nonara commented on #136
Sorry, I should have specified. `"outputMode": "esm"` not `useExplicitIndexes` or `useExplicitExtensions`

[2021-09-18 23:58] jacobbogers commented on #136
ok Checking with your parameters

[2021-09-19 00:04] jacobbogers commented on #136
Works, shows explicit `/index.js` at the end of a directory import

[code]

and also `.js`   for individual regular files

[code]

Super thank you!! Now I can release esm version

[2021-09-19 00:05] jacobbogers commented on #136
Wait, something not completely correct...

[2021-09-19 00:10] jacobbogers commented on #136
Ok, I found one issue,

I am importing the `debug` module [link here](https://www.npmjs.com/package/debug)

The original typescript looks like so:
[code]

Transpiles it looks like so:

[code]

Seems it goes to `node_modules/@types` but not to `node_modules/debug`

[2021-09-19 00:32] nonara opened #138 "ts-node without --transpileOnly failing"
When run without `--transpileOnly`, `ts-node` passes a program instance whose `compilerOptions` has been stripped of paths config. This is causing it to fail to transform paths under these conditions.

[2021-09-19 00:38] nonara commented on #136
Is this repo public so I can take a look?

[2021-09-19 00:41] jacobbogers commented on #136
yes it is public, let me clean it up for you, i was writing jest tests))))

[2021-09-19 01:14] nonara opened #139 "Package submodule treated as implicit index"
`import debugCommon from "debug/src/common"; `

Resolves to: `debug`

[2021-09-19 01:19] jacobbogers commented on #136
I set `outputMode` to "esm" in the `main` of this repo `https://github.com/jacobbogers/libRmath.js.git`

[code]

It builds for node in `<rootDir>/es6` and for the browser in `<rootDir>/browser`

The latter fails because of the issue.

Thanks for checking

[2021-09-19 04:22] nonara commented on #136
Thanks. I uncovered a few more complicated gotchas that could arise. ES with TS is a bit of a nightmare.

Will be wrapping this up tomorrow. I'll let you know when there is a new beta.

[2021-09-20 03:01] nonara commented on #136
Quick update on this —

In order to make this work I had to take down a fence that was keeping out a lot of nasty bugs. Namely, we were only transforming if a path matched or if there was an explicit tag. In this case, however, we're going to have to handle any and all paths if esm mode is set.

This means we have to intelligently handle external package import (et al.) without transforming the pa

[2021-09-21 18:21] jacobbogers commented on #136
@nonara Super thanks for  all your efforts, I think you are actually the first one to solve the `esm` path issue so extensively.

[2021-09-26 01:07] nonara opened #141 "[Feature] Add ability to plug in middleware"
High level:

Add ability to intercept module resolution and allow custom resolution via middleware.

[2021-10-01 22:04] jasonkuhrt opened #142 "Document usage with Jest"
Currently the best way I know how but happy to simplify:

https://github.com/jasonkuhrt/template-typescript-lib/blob/main/jest.config.ts

[2021-10-01 22:23] nonara commented on #142
Thanks for the suggestion! I had a look, and it looks like it may be possible via https://kulshekhar.github.io/ts-jest/docs/getting-started/options/astTransformers

I'll think on this one for a little bit. Since `ts-jest` has a native way of doing this, I generally recommend using their built-in utility. That said, I can see people potentially wanting to use the plugin for the aspects that lie out

[2021-10-02 06:11] franzcatch opened #143 "Any chance at making this work with Vue apps using vue-cli-plugin-typescript?"

[2021-10-02 15:01] nonara commented on #143
Looks like it should work. You should be able to install ts-patch, patch typescript, and create a `tsconfig.json` file with the config added. Let me know if you have any problems!

[2021-10-02 15:29] jasonkuhrt commented on #142
Interesting, I did not know about https://kulshekhar.github.io/ts-jest/docs/getting-started/options/astTransformers/#public-transformers.

I'll give this a shot and report back.

If this works, I still think a mention in the docs would be worthwhile.

People using this tool will want it working in Jest, and it's just not obvious how to do that. Brief one-liner integration tips here go a long way.

[2021-10-02 23:51] #143 closed

[2021-10-03 11:39] jasonkuhrt commented on #142
Hmmmm

It seems that it works by default, just like this:

[code]

[2021-10-03 11:39] #142 closed

[2021-10-03 15:58] nonara commented on #142
Appreciate the update! It occurred to me that it should, but the docs made it seem like they were using babel instead of typescript for compilation.

Glad it works!

[2021-10-04 22:26] nonara commented on #115
@dko-slapdash I might have come across what you're describing. In your large project structure, were you using project references?

It looks like TS is triggering transformations for non-emitted referenced files, which could get pretty bogged down quite quickly.

[2021-10-05 08:09] dko-slapdash commented on #115
Yes, we're using project references.  But at the same time, in the above example in the issue description, `tsc` is run without `-b` switch, which means that it builds the current project indendently.

[2021-10-06 02:59] jasonkuhrt commented on #142
Update

It seems I was wrong, this is what is needed. Maybe I encountered a cache issue on my end, thinking the reduced code worked when actually it was running the previous.

[code]

[2021-10-06 03:29] nonara commented on #115
Ah, yes, Didn't notice that. Thanks for the response. I'll see about building a large repro before the next release to see if
I can reproduce and if so, to isolate where the lag is coming from.

[2021-10-11 20:12] nonara commented on #136
Hi, Jacob! It's going well. I actually went full-time on this library for awhile now in order to get everything done. Lots of really cool stuff coming in the next major release. My PR to `ts-node` was also just merged, so the new esm loader will be included as well.

Everything is done, but I need to add some tests for the new custom test framework I built. I also need to add tests for the resolve

[2021-10-14 17:01] axedre opened #144 "[Feature] Transform paths of svg files"
Hi, and thanks for your `typescript-transform-paths` plugin, it's really helpful in a monorepo context to resolve imports specified as `import Something from '@namespace/some/path/Something'` while compiling.
However, it would be even more helpful if it could resolve default imports of svg files, and I'll elaborate.
Currently in my source code I can import svgs like so:
[code]
Now, while the secon

[2021-10-31 00:27] nonara commented on #136
Hey Jacob! I know you've been waiting awhile on this, so I decided I'd go ahead and take my v4 branch live. That way you can clone my branch, build it, and use npm to create a zipped package to install.

For your purposes, everything should be solid. All old and new tests pass. One shows as failing, but that's because of a bug in the new test framework. The only aspect I can't guarantee is all of

[2021-11-01 23:34] jacobbogers commented on #136
Hi @nonara
What very good news, I am almost finished with `lib-r-math.js` `2.0.0-alpha`  (only one distribution left to test) going to give your branch a look, and use it extensively,
I have time this week to help out if you want, thank you for all your efforts

[2021-11-01 23:56] nonara commented on #136
Cool! That sounds good. I appreciate it. If you familiarize yourself with the codebase and feel confident on it, you can look at the current failing tests. There's an edge case where it's not including the full subdir path for package `main` implicit index.

No rush though! It'd be good to have someone else who had a handle on how everything is laid out. I'm really happy with the new structure + t

[2021-11-03 04:24] dborstelmann opened #146 "Paths seems to be required but not sure why"
I don't use paths in my project, just baseUrl like so:
[code]

I have to add a blank paths to make this work.  Is this avoidable?

Doesn't work:
[code]

Works great:
[code]

[2021-11-03 04:42] nonara commented on #146
Thanks for the report. That shouldn't happen, no. I recently discovered the same. It applies specifically to `useRootDirs` if `paths` isn't set.

I have it covered in the upcoming major release, but I will try to get a patch out in the next few days for you!

[2021-11-03 04:43] dborstelmann commented on #146
Thanks for the quick response!  This lib solved me running js in production tonight so it's much appreciated.

[2021-11-10 05:00] bhvngt commented on #134
Since TypeStrong/ts-node#1439 has been merged, is there any other blocker to this issue?

Appreciate your effort and contribution @nonara.

[2021-11-14 23:32] nonara commented on #146
Quick update (It's been a busy couple of weeks!)

As memory serves, I ran into some challenges surrounding this same area of code while working on what was supposed to be another small change. All of it is sorted out in the new upcoming major version, which has some significant internal changes.

That in mind, in the mean time, I'd suggest continuing to use the workaround. I'll leave this issue op

[2021-11-14 23:38] nonara commented on #134
No blocker, per se, but things have been incredibly busy. This is rolled into the upcoming new major release, which has a lot of changes. I'm working on wrapping that up, and hope to have it out soon!

[2021-11-15 02:35] nonara commented on #134
Feature is finished and working! You can have a look here:

- #145

Shouldn't be too long before we have a release ready.

[2021-11-15 02:43] bhvngt commented on #134
Thanks @nonara. Will check this out.

[2021-12-01 08:03] alex-polunochev opened #147 "Side effect on *.scss files"
Hello! 👋
Using `typescript-transform-paths` for the first time to provide paths resolution for a shared package that I publish in the npm registry.

This is the extract from project's gulpfile:
[code]

This is the `tsconfig`:
[code]

After adding `path` and `plugins` as shown above, I can compile the project and can see the expected changes in the compiled js and ts files locally (e.g. adds `./` o

[2021-12-02 17:32] nonara commented on #147
Hi Alex. Sorry to hear you're having issues. That error is generated by Webpack, so I think you'd have more luck there.

Our plugin doesn't change the way anything gets resolved. It simply alters rewrites the output module specifiers. One suggestion might be that you use plugin config for the initial build step, but then use a separate extended tsconfig for webpack with plugins set to `[]`

I wish

[2021-12-02 17:32] #147 closed

[2022-01-10 15:53] pz-uc commented on #142
Any update on this one? 🤔

Or is there any tutorial how I can make `typescript-transform-paths` work with ts-jest?
tried for quite a while now and don't find any solution 🤔

Whatever I do ts-jest still can't resolve my modules.

Also `ts-jest` is officially pointing to this repository to use it in their docs -> https://kulshekhar.github.io/ts-jest/docs/getting-started/options/astTransformers/#publ

[2022-01-10 17:56] nonara commented on #142
Interesting! Didn't know that.

A few days ago, I had to set a solution up, and I opted to use their AST transformer. It did work. The one problem is it make it so I can't use `require` while debugging, which was a bit annoying.

Realistically, the best way to make sure it works is to use [ts-patch](https://github.com/ts-patch). When you do, you can simply add the plugin config to a `tsconfig` fil

[2022-01-11 06:51] pz-uc commented on #142
Yes, but unfortunately they just link and don't provide any explanation or example, which is really a pity..

Would you mind sharing your solution? I don't mind if I currently can't debug, as long as ts-jest is able to resolve the paths properly.

Do you have a concrete example how `ts-patch` works together with `ts-jest` to resolve the paths? Unfortunately, they also don't have any examples there

[2022-01-11 18:03] nonara commented on #142
@pz-uc I should probably clarify the readme. There is one "official" way of using this library and there are now several alternatives, if you really don't want to use the official route.

Here are the steps:

1. Add `ts-patch` as a dev dependency
2. Add `prepare` script `ts-patch install -s`
3. Create a `tsconfig.json` for your tests and add the plugin config

It's as simple as that. If your types

[2022-01-20 20:48] RobinBertilsson opened #150 "[Bug] ImportType node children do not transform"
**Background**
I'm building a React Component Library, and some components are nested, eg. `<Form.Button />` & `<Form.Input />`, but it also has a root element, named `<Form />`.

**Issue**
If you take a look at the example repository (provided down below), especially the `./dist/components/form/form.d.ts` file. You'll see that it exports a `const` named `Form` which is of type `FunctionComponent`

[2022-01-24 09:02] RobinBertilsson commented on #150
**Update**

Since it's trying to look for `InputProps` inside `~/components/form/input` i tried refactor it into a different file, so it wouldn't have to reference itself, and that worked!

[2022-01-25 06:43] ImanMh commented on #139
@nonara it should be transformed to:

[code]

correct?

This is something that I'm struggling with, let me know if it's the same bug you are mentioning or I can create a separate issue for this.

[2022-01-30 23:43] xpuu commented on #134
Hi @nonara, thanks for this useful lib. I'm looking forward to v4 release. I tried to test it in the meantime with the v4 branch, but without much success. Probably just me being tired and stupid. @bhvngt  Did that work for you?

[2022-01-31 04:30] bhvngt commented on #134
@xpuu I have moved on to using other libraries. I am hoping that when typescript releases their implementation supporting [self-referencing package](https://github.com/microsoft/TypeScript/issues/38675), we may have a more [standard compliant](https://nodejs.org/api/packages.html#self-referencing-a-package-using-its-name) way of handling this use case - moving away from relative imports.

[2022-01-31 18:38] nonara commented on #150
Thanks for the report! I will look into this. This is an interesting one. I think it brings a valid issue to light.

I don't believe that we visit the children of an import call, but I'll have to look into this to confirm.

Can you show me the code you switched it to that does work?

[2022-01-31 18:45] nonara commented on #139
@ImanMh I believe this has to do with a package within a package. In this case, it should not transform.

Feel free to open a new issue, and I will have a look.

[2022-01-31 18:58] nonara commented on #134
@xpuu Thanks for the kind words! v4 is close, but there were a few issues.

As many can understand in these unusual times, circumstances took me away from being able to do open source work for awhile. I'm very much looking forward to wrapping v4 and hoping to soon, but I need to get things stable first.

I've been swamped on contract work, but I've just launched a firm, which will help me offload

[2022-01-31 20:57] xpuu commented on #134
@nonara Just so you know, I'm covered for now (solved this using some weird custom loader). Your message about your current workload really resonates with me. Good luck!

[2022-02-01 12:14] RobinBertilsson commented on #150
Hi @nonara, sure! So, in the example repository, we have a `input.tsx`inside `./components/form`, which looks like the following

[code]

But when i instead extract the `InputProps` to a different file, eg `InputProps.ts`, and just reference it from within `input.tsx`, it works... Eg.

[code]

[2022-02-16 01:35] evanpurkhiser commented on #150
I'm also seeing this problem in some of my compiled `.d` files

[code]

https://github.com/EvanPurkhiser/prolink-connect/blob/0166963896bbfbd9fa22581ac0d4cdc9b5f61204/src/remotedb/message/response.ts#L194

Here `fieldsToItem` is imported from `item`. It seems to struggle because it's passing in a template argument here https://github.com/EvanPurkhiser/prolink-connect/blob/0166963896bbfbd9fa22581ac

[2022-02-20 22:51] #115 closed

[2022-03-20 14:29] dcsan opened #151 "how to use with tsc?"
could you give an example please? i've looked ts-patch docs but not clear how to combine these both.

I was hoping I can just add something to my `package.json` like this:

[code]

[2022-03-20 16:16] nonara commented on #151
Hi.

To use with both, simply follow both instructions.

For `typescript-transform-paths` perform the step in 1. Install and 2. Configure

Then for ts-patch follow steps: 1, 2, & 3.

After you do, whenever tsc is run, it will transform your paths

[2022-03-28 15:25] #151 closed

[2022-04-11 07:35] zyf0330 opened #154 "provided as Transformer Plugin"
Hello, I use nx which supports to pass transformer to tsc compiler, but it requires plugin is a Transformer Plugin.
This is error `typescript-transform-paths/register is not a Transformer Plugin. It does not provide neither before(), after(), nor afterDeclarations()`.
Does this plugin support it?
Thanks!

[2022-04-11 19:21] nonara commented on #154
Hello. I'm not familiar with nx's transformer structure. You could probably write a wrapper pretty easily that provides `before` and `afterDeclarations` exported functions that pass to `transform` in https://github.com/LeDDGroup/typescript-transform-paths/blob/master/src/transformer.ts

If you get one working, I'd be happy to incorporate it into the library.

[2022-04-12 08:46] zyf0330 commented on #154
@nonara
This is my PR, but I don't know why it doesn't work. Code executes into `ts.Transformer`, but not into `nodeVisitor` in `visitor.js`.
https://github.com/LeDDGroup/typescript-transform-paths/pull/155

[2022-04-12 12:42] nonara commented on #154
Thanks for the effort! You'll want to make sure current tests pass and add tests for working with nx.

I'll have a closer look this weekend.

[2022-04-13 09:21] zyf0330 commented on #154
@nonara I test again, and it works. Just don't know why. I will add tests.

[2022-05-09 06:22] kuoruan opened #156 "[Bug] Incorrect transformer signature in types definition file"
https://github.com/LeDDGroup/typescript-transform-paths/blob/83349e4e1b84efaa28ee3efbc09c8e15369f4836/types/index.d.ts#L36

I think this should `ts.CustomTransformerFactory`

[2022-05-16 15:18] vladimiry opened #157 "[Bug] Import assertion is not supported"
The import assertion thing was added in TS by https://github.com/microsoft/TypeScript/commit/ec114b8931bf1ad15fd017ecbacf09e099338820

https://www.typescriptlang.org/docs/handbook/release-notes/typescript-4-5.html#import-assertions

Currently, the import assertion is being lost (since `node.assertClause` is not taken into the consideration by `typescript-transform-paths`) and so you get the `ERR_I

[2022-05-24 22:01] SammyWhamy opened #159 "[Bug?] Index file import not being transformed correctly"
I have this settings in my tsconfig:
[code]
But when I `import { } from "@util";`
It emits this code: `import { } from "../util";`
If I instead rename the file to something else, e.g. `barrel`, it emits this:  `import { } from "../util/barrel";`

The problem is, node can resolve neither of these. And as I specify that `@util` should be rewritten to `util/index.js` I expect it to keep the `index.js

[2022-06-17 18:33] AndrewSouthpaw opened #160 "Does not work with relative path to a node module folder."
For various reasons, I had a TS path that reached deeply into an npm package:

[code]

I'd have an import like this:

[code]

Which I would expect to be translated to something like:

[code]

But instead the transformed output would stop at the index of the node module:

[code]

Any ideas what's going on here? Is that a bug or expected behavior? Or am I just using the package wrong? 🤔

[2022-08-09 21:25] fsmaia commented on #146
https://github.com/LeDDGroup/typescript-transform-paths/blob/master/src/utils/resolve-path-update-node.ts#L39

It seems that this if statement is suppressing `baseUrl` resolution, which happens at `resolveModuleName`, right below.

Maybe this `if` should be evaluated only if `paths` exists, and then the `baseUrl`+`paths` combination would work properly.

Rephrasing the situation: just because `pat

[2022-08-10 00:50] nonara commented on #156
Thank you for the report! You are correct on that. I will get that fixed.

[2022-08-10 01:06] nonara commented on #157
Thanks for the report, @vladimiry ! I apologize for the delay. I've been pretty tied up this year.

I will add support and update this thread when it's ready!

[2022-08-10 01:18] nonara commented on #159
Hi @SammyWhamy .

Thanks for the report! Sorry to hear you're facing issues with the library. This could simply be an issue with rootDir or something to that effect. Though it looks like it might have to do with a known issue in handling indexes. I have this mostly fixed in the new version, but I have to complete it.

If you can provide a reproduction, I will have a look!

[2022-08-10 08:06] vladimiry commented on #157
A patch like this https://github.com/vladimiry/ElectronMail/blob/master/patches/typescript-transform-paths%403.3.1.patch resolves the issue for me (not sure if it handles all the cases).

[2022-08-20 12:11] saqirmdevx commented on #73
Hello i got same issue here with latest version of Typescript and your plugin

<img width="877" alt="Screenshot 2022-08-20 at 14 09 22" src="https://user-images.githubusercontent.com/1737930/185745517-de8a360b-0560-43be-aa32-70881f8cd25e.png">

Javascript (Compiled import version)
<img width="764" alt="Screenshot 2022-08-20 at 14 11 12" src="https://user-images.githubusercontent.com/1737930/185745

[2022-08-25 22:37] mbyrne00 commented on #18
Either that, or just add this and you don't need anything extra in your project ...

[code]

[2022-09-16 00:19] SammyWhamy commented on #136
How's the progress on releasing this? This is the exact issue i've been running into for a while and this seems like the perfect fix!

[2022-10-10 15:23] patrickkunka commented on #73
Also seeing the above issue in the latest version

[2022-10-10 18:14] danielpza commented on #73
@saqirmdevx Can you share your tsconfig.json configuration? What typescript and typescript-transform-paths versions are you using?

[code]

[2022-10-10 20:11] saqirmdevx commented on #73
I am sorry i already using different method (i created custom script that update paths after compilation)

I believe tsconfig is unchanged: (Paths might be different)
[code]

I was using latest typescript (stable version) and latest typescript-transform-paths.

[2022-10-10 21:32] patrickkunka commented on #73
I am currently also experiencing the issue as described by @saqirmdevx whereby `import type ...` statements are present in JS output.

typescript: 4.8.4
typescript-transform-paths: 3.3.1

[2022-10-10 23:18] nonara commented on #73
Thanks, all. Sounds like an issue with new TS. I'll have a look.

[2022-10-11 20:45] patrickkunka commented on #73
Not sure if related, but I see the following warning in the console when I run `tsc` with the plugin applied:

[code]

[2022-10-17 05:59] rogerleung0411 opened #161 "Feature Request: TypeScript 4.8 support."
After upgrading ts to 4.8+, a deprecation warning log appears, like: `DeprecationWarning: 'updateImportTypeNode' has been deprecated since v4.6.0. Use the overload that accepts 'assertions'`. FYI:
- ts mark `updateImportTypeNode` function without `assertions` argument passed in as deprecated: https://github.com/microsoft/TypeScript/commit/1e65b330a71cc09065b31f1724d78e931aafed51#diff-8b0120099d4b9

[2022-10-18 17:41] nonara commented on #161
Hi @rogerleung0411! Thanks for the report.

There is another open issue that is related. I appreciate the offer to help! I have been slammed lately, but I will addressing this later today. I'll keep you posted.

[2022-10-20 21:12] nonara commented on #136
@SammyWhamy I launched a development firm over the last year and have been very tied down. I'm working on a plan to get this finished! It's nearly there, but there are still some edge cases, and I need to build tests.

[2022-10-20 21:16] nonara commented on #160
Hi @AndrewSouthpaw. Sorry for the delayed response. This looks connected to a known issue which gets extremely into the weeds. Long story short, we had to reengineer the resolutions portion of the library to support some of these edge cases with indexes and to better support ESM.

At the moment, that's nearly finished, but I've not had time to finish it, unfortunately. In the mean time, you can us

[2022-10-20 21:16] #156 closed

[2022-10-20 21:22] nonara commented on #161
Added in [v3.4.0](https://github.com/LeDDGroup/typescript-transform-paths/releases/tag/v3.4.0)

[2022-10-20 21:22] #161 closed

[2022-10-20 21:22] nonara commented on #157
Added in [v3.4.0](https://github.com/LeDDGroup/typescript-transform-paths/releases/tag/v3.4.0). Let me know if you still have any issues.

[2022-10-20 21:22] #157 closed

[2022-10-20 21:22] nonara commented on #154
Added in [v3.4.0](https://github.com/LeDDGroup/typescript-transform-paths/releases/tag/v3.4.0). Let me know if you have any issues with it!

[2022-10-20 21:22] #154 closed

[2022-10-20 21:22] nonara commented on #138
Fixed in [v3.4.0](https://github.com/LeDDGroup/typescript-transform-paths/releases/tag/v3.4.0).

[2022-10-20 21:22] #138 closed

[2022-10-20 21:24] nonara commented on #159
Closing for housekeeping. Feel free to reopen if you have a reproduction.

[2022-10-20 21:24] #159 closed

[2022-10-20 21:26] nonara commented on #160
Closing this issue as a duplicate.

Please follow this for updates:
- https://github.com/LeDDGroup/typescript-transform-paths/issues/139

[2022-10-20 21:26] #160 closed

[2022-10-20 22:02] #150 closed

[2022-10-20 22:08] nonara commented on #150
Fixed in [v3.4.1](https://github.com/LeDDGroup/typescript-transform-paths/releases/tag/v3.3.1)!

Thanks for catching this one!

[2022-10-21 12:11] carlocorradini opened #162 "Upgrading to v3.4.* broke something"
### `Context`
Project available at <https://github.com/carlocorradini/reCluster/tree/main/server>

### `tsconfig.json`
Available at <https://github.com/carlocorradini/reCluster/blob/main/server/tsconfig.json>
Content:
[code]

### Problem
`ts-patch` has been correctly applied.
In development I use [`ts-node-dev`](https://github.com/wclr/ts-node-dev) and start the server with the following npm scrip

[2022-10-21 17:16] samchon opened #163 "[Bug] 3.4.1 update breaks decorator"
After updating to 3.4.1 version, such error occurs.

If I rollback to previous version, the error be disappeard.

The one thing special is, such error occurs only when run by `dynamic import` statement with `ts-node`, but imported in a JS file. Type of decorator is not a matter.

[code]

  - When using 3.4.1: https://github.com/samchon/nestia/actions/runs/3282584791/jobs/5442596064#step:6:33
  - W

[2022-10-21 17:59] samchon commented on #163
This is a demonstration repo occuring that bug.

https://github.com/samchon/typescript-transform-paths-163

[2022-10-21 18:03] #162 closed

[2022-10-21 18:08] nonara commented on #162
Thanks for the report! This should be fixed in [v3.4.2](https://github.com/LeDDGroup/typescript-transform-paths/releases/tag/v3.4.2). Let me know if you still face any issues.

# Issue Details

`ts-node` was updated with new internal logic. Formerly, `ts-node` would pass no `Program` instance when it was executed with the `transpileOnly` option.

Recent logic has changed to where it passes a strip

[2022-10-21 18:15] samchon commented on #163
@nonara v3.4.2 patch is not working yet.

[2022-10-21 18:34] nonara commented on #163
Thanks for the report!

I've cloned and done some preliminary investigation. From what I can tell the `PropertyDescriptor` is not being passed from the compiled `__decorate()` function in `controller.ts`.

Notably, I would point out that 3.3.x did not properly support TS 4.8, because TS merged Decorators and Modifiers in their AST. It also didn't properly support `ts-node` when not run in `transpi

[2022-10-21 19:03] nonara commented on #163
Never mind! I had a thought on this and did a little more digging. Thanks for reporting this.

@samchon I had a look at your profile — nice work! I run a technical solutions firm that does a lot of complicated work in addition to open source. We're looking for a highly experienced architect to do some contracting part time for open source and client jobs. If you're interested, let me know, and I'l

[2022-10-21 19:09] nonara commented on #73
This issue has been resolved in v3.4!

[2022-10-21 19:10] #163 closed

[2022-10-21 23:02] patrickkunka commented on #73
Brilliant, I will give it a whirl next week

[2022-10-22 08:59] carlocorradini commented on #162
Awesome! It's working now. Thanks! 🥳

[2022-10-23 23:38] bkewl opened #166 "[Bug] Nx Transformer "is not a Transformer Plugin""
The Nx Transformer (https://github.com/LeDDGroup/typescript-transform-paths/commit/66191641bcd023464198b1974a6c351c831dc803) outputs `typescript-transform-paths/dist/plugins/nx-transformer-plugin is not a Transformer Plugin. It does not provide neither before(), after(), nor afterDeclarations()`, from https://github.com/nrwl/nx/blob/229f71ef1758ee625869aaa6fa6355dc3284fa5b/packages/js/src/utils/ty

[2022-10-24 00:26] nonara commented on #166
Thanks for the report. Can you provide a reproduction repo please?

Regarding the message: `It does not provide neither before(), after(), nor afterDeclarations()`, this indicates that none of those three are present. We provide 2 of 3.

We also don't face either of these issues in our test setup. See: https://github.com/LeDDGroup/typescript-transform-paths/blob/master/test/projects/nx/packages/li

[2022-10-24 05:35] bkewl commented on #166
Thanks for the quick reply!

You're right about the _at least one_ requirement there. The grammar of the error message confused me.

We have created a repro-repo here: https://github.com/PatchOnKnee/fictional-winner
`npx nx run test-lib:build`

I cloned the `typescript-transform-paths` repo and installed the local version (`"typescript-transform-paths": "file:../../typescript-transform-paths"` in

[2022-10-24 17:09] #166 closed

[2022-10-24 17:11] nonara commented on #166
Seems it was a silly oversight on my part! The original work was done in a PR. I changed the entry file name but forgot to update it in the `package.json`.

`v3.4.4` should cover you. Thanks for the repro. Let me know if you face any other issues!

[2022-10-24 22:01] bkewl commented on #166
`v3.4.4` works a charm. Thank you!

[2022-11-14 19:58] nathtumlin-tanium opened #167 "[Bug] Paths needlessly go back to root on macOS"
macOS has case-insensitive filenames and in resolve-module-name.ts `srcFileOutputDir` has a path starting with `/Users/` and `moduleFileOutputDir` has a path starting with `/users/` [code link](https://github.com/LeDDGroup/typescript-transform-paths/blob/de76b59fc364c5f5e400d87776e0e5a8be7ed65c/src/utils/resolve-module-name.ts#L156-L157). This means that the `path.relative` call ends up `..`ing al

[2022-11-17 18:13] stephenh opened #168 "Not working for TypeScript 4.9?"
I'm upgrading our codebase to 4.9.3 and noticing that paths are not being rewritten anymore.

I can put together a reproduction, but just wondering before I do that if this is a known issue/others have seen it/etc.

Thanks!

[2022-11-18 00:03] carlocorradini commented on #168
@stephenh Same issue

[2022-11-18 00:34] nonara commented on #168
Hi all. Unfortunately, this is an issue in 4.9. There was a regression with `visitEachChild`, which most transformers rely on. There is a fix ready and it's marked for renew. I had hoped it would make it in to 4.9.3, but it looks like it hasn't yet.

Here are the links so you can follow the issue & PRs

- https://github.com/microsoft/TypeScript/issues/51542
- https://github.com/microsoft/TypeScrip

[2022-11-22 15:37] patrickkunka commented on #73
Apologies for the delay. I just tried version 3.4.4 but the issue still persists. There are `import type ...` statements in the compiled JS output.

[2022-11-23 01:52] nonara commented on #73
@patrickkunka What version of TS? If it's 4.9, there's an issue affecting most transformers, including this. In that case it would not work at all.

If the problem happens with ts 4.8, if you can provide a quick repro, I will check it out. The issues reported in this thread were definitely corrected, so I'd have to dig in to see what you're facing.

[2022-11-23 07:04] patrickkunka commented on #73
Hi @nonara it's still 4.8.4 as reported above

[2022-11-30 20:59] nathtumlin-tanium commented on #167
I have a patch we're using locally that uses `fs.realpathSync.native`, I'll see if I can put it up here